[2013-10-18 23:02] riz-hossain opened #15 "Some performance test case needs to be created so we can display some information for demo"
Performance test case needs to be created so we can demo performance graphs

[2014-01-13 09:06] minar09 opened #53 "Customized Execution Report with different filters and test cases list"

[2014-01-31 21:56] riz-hossain opened #64 "fail reason on run-id page needs to display new line"
Right now the fail reason on run-id page displays as a single line.

It needs to display as new line (text box instead of text line)

[2014-02-04 17:37] riz-hossain opened #82 "Email notification for manual test case"
When a manual test sessions is completed, just like automated result, an email notification must be sent to the list of users that were selected for email notification

[2014-02-06 04:23] riz-hossain opened #87 "Currently main driver identifies test type by data set. we need to change this logic from data set to test case"
Currently it is not an issue as all the data added from the web gets "default" as the data type. When we will create performance test case, in past we used to classify the data type as performance and main driver would perform actions accordingly. This logic needs to changed from data type to test case type.

[2014-02-19 05:53] riz-hossain opened #100 "Track who is the test case writer and who modified last"
-	We need to be able to track who is creating test cases and when
-	If someone modified a test case than we need to keep both (who created and who last modified)
-	If multiple people modified a test case over time, we are only going to keep the latest modified user info
-	This information will be shown in test case creation/edit page
-  For this feature to work nicely, we will need to implement th

[2014-02-19 05:54] riz-hossain opened #101 "Track who is running/modifying test cases"
-  We need to keep track of who is running test cases.  For this we only need to keep track of one person.
- Whoever modified a test case status last, we will keep their name and date and time.
- This information will be shown in run id page and property tab of the test case.
- We need to save this information for per test case basis.
- For now, we will just use the assigned tester’s name.  Once w

[2014-02-19 05:54] riz-hossain opened #102 "Generate report for Tester's activity"
- A customize report needs to be generated by lead for the above tasks.  User should be able to select a tester and type of actions (Test cases run or test case creation/modified) and select a calendar type of date selector.
- It should output a graph by count and date (linear graph)
- It should output a table with relevant data

[2014-02-23 16:38] riz-hossain opened #105 "Both manual and automation attachment needs to be implemented via ftp file server"
We will need to attach files with test cases.  Currently automation execution manages this but needs to be changed how it uploads.  we need to have a ftp type of file server where we can upload any files from any pc (manual or automation).

There might be some challenge around multiple files, but i think during download we can just zip them all from a specific folder for that test run via run id a

[2014-02-25 22:42] riz-hossain opened #116 "Threading for test step expiration"
- This a target for Version 3.0.  We already have some threading work done but need to organize it better.

- We need to be able to set global level test step time out.  This global value will show up as default value when we are create testing step (they will go to master data like verification)
- If a global value is changed, we need to update all the master data that is using the default value

[2014-02-25 22:44] riz-hossain opened #117 "Performance testing needs to be modified to follow step information instead of step data"
Please do not start any work on Version 3.0 milestones..
I am creating these as place holder.

[2014-02-26 21:21] riz-hossain opened #119 "Weekly report wiki for individual projects and team"
- We will need some kind of weekly triage meeting for meeting minutes.
- almost every company needs this.  a lot of companies will do this by email like we are doing now days.

- Weekly progress report are a little bit different than JIRA task tracking as JIRA will have defined dead lines and this is more like a summary of the team

- anyone

[2014-03-07 20:18] riz-hossain opened #128 "Step order should be modified by mouse movement."
A user should be able to drag a step and move a step to change the sequence.

If i have step
A
B
C
D

I should be simply drag step D and move to up to second place

A
D
B
C

[2014-03-17 07:16] Taitalus opened #143 "Calculation of Test Case Duration for the manual Test case Execution"

[2014-03-19 21:17] Taitalus opened #147 "Selecting different RunTime parameter for ReRun"

[2014-03-27 12:48] riz-hossain opened #165 "Once a test case is ran and all the status has been changed it should lock up. Same applies to the session status."
Minar please work with shetu to find out when we consider a test case to be completed.  and same with sessions.

key point:
in-progress, submitted are not considered as execution to be completed.

[2014-04-02 01:32] Chebsi opened #175 "Username is case sensitive"
Usernames being case sensitive is confusing to end users.

Also, if some day you decide to have email address associated with an email address, you will have duplicate email addresses.

e.g. "moe" and "Moe" are different users. If you assign a company email address, they would end up being the same because email addresses are case insensitive.
i.e. moe@automationsolutionz.com is the same as Moe@au

[2014-04-02 01:35] Chebsi opened #176 "User's first name/last name can overflow out of the nav-bar"
See top-right in screenshot. Small UI problem.

![image](https://cloud.githubusercontent.com/assets/1237719/2586656/076faf6a-ba07-11e3-8e2f-850ffbaa79bc.png)

[2014-04-03 17:09] riz-hossain opened #181 "Same test case ran more than once in a session does not update result correctly"
Below run id has two test cases with same test case ran twice.

When i update one of the test case, it updates the same result for other test case.

Additionally, you cannot expand the test case. It will expand and collapse right away

http://135.23.123.67:8080/Home/RunID/Thu-Apr-3-12:07:05-2014/

[2014-04-10 01:19] riz-hossain opened #196 "compare data display is not showing correctly"
The compare data is not grouping the data properly.

Talk with me to find out more detail.

![image](https://cloud.githubusercontent.com/assets/5302523/2663069/0926af00-c04e-11e3-9172-f9074723ee05.png)

[2014-04-11 04:04] riz-hossain opened #201 "All the check boxes in the test case creation under test case creation should become button"
everything under parameter check boxes should become button with the name

Status under property should become drop down.

If possible, Verification point check box should be "Yes" when clicked.  By default it should be a "No" button.

So by default it will be No button. When i click No it will be come Yes.

[2014-04-11 04:26] riz-hossain opened #205 "Test session runid page needs to collaborate few tabs"
We need to put

All, Passed, Failed/Blocked, submitted in one page.  Also put all the other status
Keep it same concept as rerun

ON rerun page, add ALL button.

We need to put filters like you have on ReRun tab.

However in this case we want a slider  for filters.  Talk with minar to see how he did it.

[2014-04-11 04:28] riz-hossain opened #206 "Common tab is not considering all the other status that were added later."
Common tab is not considering all the other status that we added new.

Please make sure all status are grouped together and user can view full detail.

[2014-04-11 04:32] riz-hossain opened #208 "On graph title for any run status we need to add Objective and milestone"
For any graph that represents a run id, we need to add
two more lines below run id

Run-ID:
Objective:
Milestone:

[2014-04-12 22:13] riz-hossain opened #212 "individual test case execution time in manual needs to be calculated properly (it is not working right now)"

[2014-04-12 22:21] riz-hossain opened #213 "Project feature needs to be added"
The purpose of project is to support two different projects within a company.  When a company signs up for our software, they have completely different projects.  They should be able to switch projects and view their report and status.

- When a project is selected, only test cases and execution related to that project will be displayed
- option will be given to share a step across all projects
-

[2014-04-14 02:21] riz-hossain opened #214 "No validation is done on Tag during test case creation"

[2014-04-15 05:11] riz-hossain opened #217 "Continue on fail is not showing during test case creation"

[2014-04-16 21:03] riz-hossain opened #220 "Notification pop up on all activity that needs it"
-We need to implement some kind of notification process to notify end user about various type of messages:

Warning, error, success and so on

Below are some samples:

http://fabien-d.github.io/alertify.js/   ---> this one seems the best.. we need to make sure we implement it so that it matches with our current UI

http://www.thecssninja.com/javascript/web-notifications
http://notifyjs.com/

https

[2014-04-18 10:45] minar09 opened #221 "While editing a test case, browser in parameters doesn't show sometimes"
After creating a test case, when it is selected from "Copy/Edit Test Case" option and selected to edit, sometimes browser data comes and sometimes not. Browser in parameters.

[2014-04-18 17:00] Taitalus opened #226 "Arabic Title Test Case is Failed"
![arabictestcase](https://cloud.githubusercontent.com/assets/5759182/2743822/f8cec0ba-c71a-11e3-88e7-37ebff935bc2.png)
I have given some title in arabic language.Test Step is creating the test steps successfully.But The test case is not creating successfully.
Eclipse console is showing the following error:
"Exception: 'charmap' codec can't encode characters in position 34-39: character maps to <un

[2014-04-18 17:36] Taitalus opened #227 "Non ASCII Data is not Valid during test case creation"
![nonascii](https://cloud.githubusercontent.com/assets/5759182/2744092/e286cf46-c71f-11e3-8b18-147bd35cdc88.png)
Non ascii value gives the following error during creation:
"Exception: 'charmap' codec can't encode characters in position 0-2: character maps to <undefined>"

[2014-04-21 02:47] riz-hossain opened #230 "Please add notification to all other pages."
Any time anything is done that involves changes in db or user's data, there must be a notification.
- step create/edit
- Run page
- creation of any type of driver, features, manual pc, test set and so on .. please go through every single page and implement this.

[2014-04-25 19:06] riz-hossain opened #240 "filter inside run-id is not working"

[2014-04-27 10:39] sazid opened #244 "Implement new dashboard design"
The dashboard design has to be replaced with a new one.

[2014-04-28 04:22] riz-hossain opened #249 "On the progress bar when hovered over, we need to display legend, counts, and Total"
- Currently with new changes graph is not working.
- We actually do not need to show another pie chart.
- We need to display Legend and their count.
- Make sure you give total count

For example:

Vertical Color bar - Pass - 4
Black Vertical Color bar - Total - Total count

[2014-04-28 04:31] riz-hossain opened #250 "Help system for the site"
1. We need some kind of help guide for users to explain what are each elements on the page is for. (when help is enabled, all the elements on the page, as soon as you hover over, will show tool tips)
2 We also need to make a separate one that will guide users to create a step or test case or run a test case.  Essentially if you select "Show me how to create a test case", it will take you to create

[2014-04-28 05:19] riz-hossain opened #251 "Admin page to have option to manage testers"
- We need to be able to manage testers and their permissions from admin page.  We should be able to add, modify, delete.   We need the following field:

User Name = Must be unique for all users.  As we type this user name, it will display existing user name.  If i select, it will populate all the fields and if its not found, it will create a new user (see below for table info)
Full Name:
Level: (W

[2014-04-28 05:28] riz-hossain opened #253 "In test case create page, + and - sign should have tool tip to explain what they are for"

[2014-04-28 05:35] riz-hossain opened #255 "Admin link should only be available for admin privileged users"
Once you finish managing user, we will add a new level called "admin_level_1" and "admin_level_2"

admin_level_1 will be able to perform test case management related task and admin_level_2 will be able to do both level_1 and manage users.

when a user is signed in, we will need to check who is signed in and validate if they are level_1 or level_2.

IF possible, we will only show whatever is their

[2014-04-28 13:18] riz-hossain opened #257 "if more than one verification point exists, then on execution page, verification points do not display."

[2014-04-29 12:26] sazid opened #260 "Contact form"
There should be a fixed contact form on all the pages. The contact form along with the message, will send information about the current page, a screenshot of the current page and also the exec.log or something like that which will help us to determine any issue or error.

The form will be hidden just like Hangouts. Users will be able able to reveal it through hovering over.

[2014-04-29 18:35] riz-hossain opened #261 "Step name should be limited to max length that is allowed in db."
This should be done for all text boxes or any other areas where user is able to enter data

[2014-05-01 10:40] Taitalus opened #268 "Type is to be added in the filtering for the test case in the RunID_Detail.html page"
also have to implement the common tab in the run_detail page

[2014-05-01 21:27] riz-hossain opened #271 "Manage Milestone drop down shoud add "Show All""
This was again request from end users.  Most users are complaining that not know what are the current available milestone, it is sort of unknown to them.

So we want to add on the drop down "Show All".

When that is selected, we will display a table which will contain information about milestones.

As of now, since we are not really storing too much information we will just show them the list of m

[2014-05-04 14:47] riz-hossain opened #286 "View and Organize Steps"
Once test case view and organize is fully working to spec, We will also implement something similar (it wont be the same) to be able to view all the steps and manage.

We need to be able to batch edit steps settings.

I will add more detail later.

We may need to put all that under one menu item:

"View & Organize"
Then user will have a secondary menu

"Test Cases"
"Test Steps"
"Test Set"
and so o

[2014-05-07 12:11] riz-hossain opened #298 "Automation is not running in windows 8."
We need to make sure automation runs in all windows.

[2014-05-07 12:13] riz-hossain opened #299 "Restart the django server from the server (Work around for result page not showing)"
- I will send you a script to implement similar to git pull

[2014-05-07 14:47] riz-hossain opened #303 "www.automationsolutionz.com needs to be presentable"

[2014-05-20 03:37] riz-hossain opened #315 "Task Tracking"
We need to build a component that will allow us to create and monitor tasks, bugs, requirements.

This is for example a requirement.

Below are fields that we need.  Since they are very similar with some minor changes, once we do one, it should be very easy to do others.

TASK
Project :(we will need to implement this across all our features include test cases)
Team:  Each project can have multiple

[2014-06-11 05:00] riz-hossain opened #317 "Implement Select2 api for all the search area"
There are multiple options, but we want the one shown in the screen capture below.  The searched item will be stored inside the search box.

There is another feature where we can limit user to at least enter 1 or 2 letters.  We may implement that for areas that we expect to see large number of data.

http://ivaynberg.github.io/select2/

Start with copy/edit test case section.

two critical feature

[2014-06-11 05:51] Taitalus opened #318 "Requirement Management"
This section contains the prerequisite of the any task that is assigned to any team.

[2014-06-11 05:52] Taitalus opened #319 "Team Management"
This is associated with the task tracking. we need to assign teams to each task. for this the team management is necessary.

[2014-06-11 05:54] Taitalus opened #320 "Bug Management"
This is as like as the issues in the git. Here the issues can be associated with a task or can be independent..

[2014-06-16 18:35] Taitalus opened #321 "Project Management"
Requirement:
This will introduce project management in our system

Requirement:
1.Create The Project
2.view all the teams in a project
3.view all "Features" in a project.  and who owns the features and description of the feature
4.view all bugs for that project
5.view all tasks

Acceptance Criteria:
All this will have to be done

[2014-11-24 23:47] riz-hossain opened #331 "manage team is not working"
i cannot see any existing teams ..

[2014-11-28 19:16] minar09 opened #332 "Test case searching by labels"

[2014-11-29 05:20] riz-hossain opened #334 "email accounts information should be saved in db and user needs to be able to add them from the web"
Users should be able to configure their own email sender information using the gui.

To this, we need to save the email log in and ttls settings for each team.

This will have to be done by project owner... each team should be able to configure their own send from address.

[2014-11-29 05:33] riz-hossain opened #337 "when a milestone is passed the due date or marked as completed, it should not be available to select for any components"
When a milestone is completed or has passed the end date, we should not display those milestone in any features drop down list.

[2014-11-29 15:49] riz-hossain opened #338 "path for the item needs to be clickable"
![path display](https://cloud.githubusercontent.com/assets/5302523/5234967/4d983342-77b5-11e4-8d2f-067b0e6537e8.png)

[2014-11-30 01:59] riz-hossain opened #339 "available machine needs to have pagination and search"
Available machine needs to display machine details and the page needs to have search and pagination.

[2014-12-12 02:35] riz-hossain opened #340 "Drivers should be able to map step name to function automatically"
Main driver should automatically map the function name with step name (dynamically).

The logic we will use is that when someone makes a function in their driver, they will have to name the function same as the step name with _ instead of space.  When we we get the step, we will simply replace all the spaces with _ and construct the function name/link directly.

Here is an example of how you can t

[2014-12-12 02:58] riz-hossain opened #341 "run manager service needs ui"
Currently run manager is a python file that we run.. that runs as cmd window.

We need to make it an application type..  it will have similar functionality ...

there are new condition that went into run manager now.  Once shetu fixes the runmanager, you will essentially take the same activity and make it into UI.  it doesnt have to be any fancy ui.. twinker can be used for it.

First the app will

[2014-12-16 05:04] riz-hossain opened #342 "various string or Boolean values should be accepted by main driver"
When sub drivers sends the result of individual steps, main driver should be able to accept various string or boolean values.

Example:
Results taken as pass can be:

Pass, pass, True (boolean or string), Passed, Success, success, .. and if you can think of any other logical value ..

opposite also applies for failed cases...

[2015-01-17 15:36] riz-hossain opened #344 "drop down menu item"
http://www.jqueryscript.net/demo/Animated-Multi-level-jQuery-Dropdown-Plugin/

@sazid

[2015-01-20 17:41] minar09 opened #345 "Creating new task saving data but not showing in edit view"

[2015-01-21 08:15] Taitalus opened #346 "Automation Machine Rerun Problem is fixed"
before rerun was not submitted in the automation machine. if there is any run is submitted already in case of the rerun it will cancel it and submit a new run .

[2015-01-21 12:04] riz-hossain opened #347 "buttons are not aligned properly"
http://demo.automationsolutionz.com/Home/RunID/Sun-Jan-18-10:11:46-2015/TC/CRE-0369/View/

in this case, i think its best if we do not use the new auto resize of the column.  here most of the user would want to see full detail.

in my tablet the buttons are over lapped.

[2015-01-21 16:24] minar09 commented on #347
Created two CSS classes as 'one-column-emphasis' and 'two-column-emphasis'. If any table has text boxes or buttons which got disproportion, use 'two-column-emphasis' css class to use as normal table. And 'one-column-emphasis' class is for truncating table string in case of long text.

[2015-01-21 20:16] Taitalus opened #348 "Run Id Detail page Pagination"
along with the status and comment modification in the manual test case execution view page and verification point on those pages

[2015-01-22 11:43] minar09 opened #349 "Unable to edit test case"
Getting message "Exception: local variable 'result' referenced before assignment"

[2015-01-22 11:52] minar09 commented on #349
Working for other test cases :/

[2015-01-22 13:44] sazid commented on #349
@minar09 maybe, the test case was corrupted.

[2015-01-22 13:46] minar09 commented on #349
yeah, closed it.

[2015-01-23 10:41] Taitalus opened #350 "Test case creation page Toggle Button"
It showed nicely during creation . but only showing half filled in the edit page. Told @minar09  to see this . He agreed. Here is a snap .
![taskpage](https://cloud.githubusercontent.com/assets/5759182/5873261/b3bd2684-a31e-11e4-8896-67e301a51bc3.png)

[2015-01-23 10:42] Taitalus commented on #350
@riz-hossain vai I have assigned this to @minar09 . Hope it's alright.

[2015-01-23 11:02] sazid commented on #350
Small screen
-------

![capture](https://cloud.githubusercontent.com/assets/2370167/5873508/895ac128-a321-11e4-8a4c-4bdf903cbbd3.PNG)

[2015-01-23 15:32] riz-hossain opened #351 "sometimes results/execution page page gives error .."
try to reproduce it by going into a test case and then click the result button directly from the link at the top of the page "Result"

TemplateDoesNotExist at /Home/Results/
ResultFULL.html
Request Method:	GET
Request URL:	http://demo.automationsolutionz.com/Home/Results/
Django Version:	1.5.2
Exception Type:	TemplateDoesNotExist
Exception Value:
ResultFULL.html
Exception Location:	C:\Python27\lib

[2015-01-23 15:34] Taitalus commented on #351
What is ResultFULL.html.??? I haven't wrote such file ever..                                                                                                                                                                                                                                                                          Raju Ahmed ShetuProgrammerAutomation Solutionz1212 Countrystone Drive,Kitc

[2015-01-23 23:27] minar09 commented on #349
Is it only me who is having this issue more often while editing a test case after creation?

[2015-01-24 00:05] minar09 commented on #351
I just faced this issue. I think this is related to Sazid's PJAX works.

On Fri, Jan 23, 2015 at 9:34 PM, Raju Ahmed Shetu <notifications@github.com>
wrote:

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-01-24 00:19] riz-hossain commented on #349
Edit test case a lot of time doesn't load data. And once you save it with bad data, you can never save that test case again. I think that's one of the bug I logged.  

[2015-01-24 00:21] riz-hossain commented on #351
If that's the case, let's revert the change for now and we will look for optimization later.  I think it will take long time solve all the pages and each page will have different issues.                                                                                                                                                                                                     Sent from my Blac

[2015-01-24 00:22] minar09 commented on #349
I am facing this for almost every cases now.

On Sat, Jan 24, 2015 at 6:19 AM, Riz Hossain <notifications@github.com>
wrote:

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-01-24 00:25] riz-hossain commented on #349
Don't reset your db and work with shetu to fix this issue.  This is the most critical issue.  

[2015-01-24 05:37] Taitalus opened #352 "Test Case Feature in Edit Test Case Page"
In database the feature is save correctly. but don't show up properly in the edit page.
For example someone select First.Third.Fifth in the feature but it only shows First.Fifth in the edit page.
I have checked in the database. nothing wrong with the saving.
As This was implemented by @minar09 .I am assigning this to him.
@riz-hossain  please look into this matter.

[2015-01-24 05:39] sazid commented on #349
[code]
That error message explains everything. I've seen some of those variable assignments before, somewhere. Basically, it should be a one/two line fix if there's no other logic during variable assignment.

[2015-01-24 05:40] sazid commented on #351
5df0ddec6e9ef71a19b3963cd05bd78988e65d93 Reverted

[2015-01-24 05:40] #351 closed

[2015-01-24 05:43] Taitalus commented on #349
Don't worry. It will be sort soon. working on the keyfield and the ignore field .Then I will work on edit altogether.

[2015-01-24 05:46] sazid commented on #352
Hmm, it's been a long-time known bug. I've also checked everything. Even the data is being returned correctly. But, due to some UI logic, the latter one replaces the former one and takes its place. But, the data is still there. Whoever did this, should be a quick fix for him.

[2015-01-24 05:48] Taitalus commented on #352
Yeah.

[2015-01-24 06:11] sazid commented on #345
But, it's showing, on my side. Look at the gif
![task create](https://cloud.githubusercontent.com/assets/2370167/5886307/11b524fa-a3c2-11e4-946e-6b30929b9236.gif)

[2015-01-24 06:12] sazid commented on #345
@riz-hossain

[2015-01-24 06:22] sazid commented on #344
We don't have any place to implement this (except for the navigation bar, which we currently shouldn't)

[2015-01-24 06:23] sazid commented on #348
Isn't it already done? @Taitalus

[2015-01-24 06:45] #331 closed

[2015-01-24 06:47] sazid commented on #332
Needs attention @riz-hossain

[2015-01-24 06:52] #105 closed

[2015-01-24 06:52] #119 closed

[2015-01-24 06:52] #175 closed

[2015-01-24 06:52] #176 closed

[2015-01-24 06:52] #213 closed

[2015-01-24 06:52] #128 closed

[2015-01-24 06:53] sazid commented on #116
I think, it's either in the works or already done. @riz-hossain @Taitalus respond

[2015-01-24 06:54] sazid commented on #105
This won't & shouldn't need a seperate ftp server

[2015-01-24 06:56] Taitalus commented on #116
I will work on it after the finishing the test case implementation

[2015-01-24 07:23] riz-hossain commented on #348
No. Pagination needs to be done on every page that displays test cases. 

[2015-01-24 07:25] riz-hossain commented on #331
Managing team with project still doesn't work. Don't close it.                                                                                                                                                                                                                                                                                                                                         Sent from

[2015-01-24 07:27] riz-hossain commented on #332
Currently I cannot search test cases by label. Any places that allows me to search test cases by categories, I should be able to search by label as well.

[2015-01-24 07:28] riz-hossain commented on #15
We need this open. It won't happen anytime soon. But shouldn't be closed. 

[2015-01-24 07:30] riz-hossain commented on #119
We need this. This is a feature request. We will have to implement this later on. It serves the purpose of keeping meeting discussion detail.

[2015-01-24 07:31] riz-hossain commented on #128
This has not been implemented and will need to be implemented.  Right now I cannot drag drop steps to arrange them. 

[2015-01-24 08:08] sazid commented on #128
Yes, it's a duplicate issue. That's why closed it

[2015-01-24 11:13] minar09 commented on #352
Actually I didn't do any extra code for showing feature rather i just
replaced codes for showing section with features' in the same way.

On Sat, Jan 24, 2015 at 11:48 AM, Raju Ahmed Shetu <notifications@github.com

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-01-24 11:46] riz-hossain commented on #352
I want everyone to look into it as no one has found a solution yet.I have talked about this bug for many times. If it is the ui, then change the ui flow if you can't fix it with current ui. 

[2015-01-25 20:21] Taitalus opened #353 "Verification point needs to select repeatedly during edit and verification slider needs to be done."
@riz-hossain  vai this is a mere UI problem. I have seen the verification point slider I guess @sazid  or @minar09  can help.

[2015-01-26 02:18] riz-hossain opened #354 "if all is selected, any child drop down should go away"
![image](https://cloud.githubusercontent.com/assets/5302523/5894591/96c6898e-a4d7-11e4-9e93-fc221c29e960.png)

[2015-01-26 09:01] riz-hossain commented on #353
Who is looking into this?   Minar can you fix the issue asap.  Someone is gonna demo this in their company today using our website. 

[2015-01-26 13:48] minar09 commented on #353
Well, solved the again clicking problem in edit view. Now seeing the font problem.

The bug was there nothing but using a slightly changed instruction during edit view other than the instruction given in the plugin. And the function needed to use was the same not wrong but used with quotations. That was the problem which could not trigger the data.

Now then I used the function as it was given in

[2015-01-26 13:48] minar09 commented on #354
Actually it was not broken. This feature was not implemented at all. There was bit and version drop-down coming on selection of dependencies but it was not to be hidden on selection of "All" data.

Now that part is added for on selection of 'All' data.

To put it bluntly, all needs to create several test cases and deploy them on different environments and dependencies and check how the report chan

[2015-01-28 17:53] minar09 opened #355 "feature implementation logic change to avoid changing of data"
It seems it would take some time as the feature implemented in test case creation field and others is a complicated one. So I am opening an issue for it as discussed.

So the logic will be to fetch feature id along with feature path from DB so that we can always get the feature path directly from feature ID but not from the path list saved in DB, so we can avoid of changing data. We can keep the f

[2015-01-28 18:12] riz-hossain commented on #355
I think id method would always make sure that at least on the storage point it always works. For example right now we somehow store an invalid path, thus invalid Id, which will never happen when we go by Id.We basically ignore what the ui has once we track by id only. 

[2015-01-28 21:29] minar09 commented on #355
What I found after searching till now, we may somehow tackle the situation by saving the feature by its id, but when it comes down to showing up properly, I have to say maybe there is something wrong with the codes used show the path in edit view, which sometimes show properly, sometimes doesn't.

So even if we manage by id, we have to look through the codes for showing the proper path, which look

[2015-01-28 21:38] riz-hossain commented on #355
Yes. The ui may be messed up a little.. but for time being I think we can survive. In most cases users will have no more than 2 level. Even with current bug it's harder to reproduce when we have 3 level. 4th level it's easier to reproduce.  One other thing we can do is have a pop up window and show the same tree structure that sazid has for view and organize (just the tree view). Sazid would it be

[2015-01-29 06:50] #220 closed

[2015-01-30 23:34] riz-hossain opened #356 "when i created two sections with same name .. i am stuck with busy clock"
InterfaceError: cursor already closed
[30/Jan/2015 18:32:28] "GET /Home/ManageTestCases/setData/createSection/?section_text=tesd&project_id=PROJ-19&team_id=135 HTTP/1.1" 500 16280
[30/Jan/2015 18:32:32] "GET /Home/ManageTestCases/ HTTP/1.1" 200 53136
[30/Jan/2015 18:32:33] "GET /Home/ManageTestCases/GetProjectNameForTopBar/?user_id=9 HTTP/1.1" 200 100
[30/Jan/2015 18:32:33] "GET /Home/UserInfo/Ser

[2015-01-31 04:12] sazid commented on #356
The loading indicator may have a different issue.
But, I don't think we should allow sections with same name. There will be
conflicts as to where the child sections will be put when they're being
sent back from the server.

Think of this scenario:

• P1 > C1 > CA
• B2 > P1
• A4 > P1 > D3

Now, the computer won't know where to put P1 as the parent (row1) and where
to put P1 as the child (row 2, 3)

[2015-01-31 11:53] sazid commented on #356
7f717f1558b9473b4f234e4344adbde62a82bcde

[2015-01-31 14:11] riz-hossain commented on #356
That's okay. I just to make sure I can do all the basic things. Create section, delete section, rename section and do the same with sub section. As long as duplicate name does not break things ,then it's okay. Make sure the other issue where it says db connection was not established is solved.   That's more important, because it blocks everything even in normal situation. 

[2015-02-01 20:13] minar09 opened #357 "View and Organize page for test steps"
View and Organize page for test steps where steps will be shown in table with some basic info including Automatability and creator/modifier data.

[2015-02-01 20:14] riz-hossain commented on #357
If time permits add filter and pagination.  It will have to be done once demo is done regardless. 

[2015-02-01 21:26] Taitalus opened #358 "SubField and color coding will have to be implemented in the compare module"
will have to be done after demo

[2015-02-01 21:26] Taitalus commented on #358
details will be posted soon.

[2015-02-03 03:52] Taitalus opened #359 "Compare Module Unfinished Work"
For now ,we have the compare of simple dataset by the compare module and it is good so far. We need to do the comparison of multiple dataset by the compare module. we are to find if there is any duplicate entry on both the expected dataset and actual datasets along with all the features that are available in single dataset.
Here is the steps I will be following:
1. First Take out any duplicate dat

[2015-02-03 04:37] Taitalus opened #360 "Info for Test Case step name and data in Detail Tab"
It will be done in the Detail Tab. There will be a button namely Show Format clicking on which it will show the step name and step data in tabular format. Also dependency is to be shown.

@raqbo  and @riz-hossain  which one I should do first , this one or #359 ??

[2015-02-03 04:44] riz-hossain commented on #360
Button name may need to be changed later...For now put Data Format                                                                                                                                                                                                                                                                                                                                        Sent f

[2015-02-03 04:49] Taitalus commented on #360
so I am doing this one first okay??

[2015-02-03 04:50] riz-hossain commented on #360
Yes.                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone on the TELUS network.

[2015-02-03 05:03] sazid commented on #356
Should be resolved by now inshaAllah

[2015-02-03 05:03] #356 closed

[2015-02-03 06:04] m3thun opened #361 "Issues with project settings"
@Taitalus can you make sure these old bugs are not there in new design?

(1)​ When I'm in "Manage -> Project Settings -> Feature" tab, here's what happened:

  (i) I tried to create a feature called mitFeature_1, it was created successfully.

 (ii) I tried to create a feature called "mit,Feature" (intentionally putting a comma in the name), neither did it give me an error, nor it created the featu

[2015-02-03 10:10] minar09 commented on #361
Features are saved in postgresql ltree format e.g.
First.second.third.fourth etc. That's why i guess only the text before
dot(.) is shown. So it should be prevented in front-end not to put dot(.)
in feature name.

On Tue, Feb 3, 2015 at 12:04 PM, m3thun <notifications@github.com> wrote:

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-02-03 10:58] Taitalus commented on #360
fInished fully. @raqbo  and @riz-hossain please see this.. and close this..

[2015-02-03 11:08] sazid commented on #361
`"first.second.third.fourth.fifth".split('.')` should do inshaAllah. Since, it'll be readily converted into an array, the result can be directly used to populate the UI elements.

[2015-02-03 12:58] riz-hossain commented on #361
We need to figure out if with all this bug it's worth fixing them or redoing. Sazid, you haven't fixed the multiple pop up issues and explained that it was too hard. Can you suggest if this is fixable and what needs to be done. Or shetu has to redo the code.  This need to be fixed asap.

[2015-02-03 13:20] sazid commented on #361
I was talking about dot thing. But, the page, if redone is better in my opinion.

http://ignitersworld.com/lab/contextMenu.html

[2015-02-03 13:49] riz-hossain commented on #361
For dot, Mithun wants dot in his string. We cannot allow that. So we need to block users from submitting anything with . in their string for any places that we have tree.  

[2015-02-03 14:56] minar09 opened #362 "Old test steps are not auto loading because of DB chagnes"

[2015-02-03 14:57] riz-hossain opened #363 "Need function to compare images"
Image compare function should be built in to our framework.  There are a lot of existing modules that we should be able to take and use it.

[2015-02-03 21:18] Taitalus commented on #359
Compare Module functionality is finished. but the data showing in test case execution page is to be done.

[2015-02-04 07:48] Taitalus commented on #359
data showing for multiple dataset in the manual execution page is done. you can close it now.

[2015-02-04 20:38] riz-hossain opened #365 "on card view for critical task or req, we will have color code on the box"
we need to color code the boarder of the box ....when you get to it...we can also make other technique such as making it bolder/larger fonts for critical task or overdue task.

[2015-02-05 03:21] Taitalus opened #366 "Pagination in deployment page is to be implemented"
When there are more than 10 test case under any filtering selection in run test page . pagination will be done in the deployment page.

[2015-02-05 03:53] riz-hossain opened #367 "Final changes on test step page"
New column: Test Case (please sort by this one).  This will give a number that will be clickable. Once clicked, it will take user to edit step and display all test cases (same effect when we press Get test cases).   Column should be same as view and organize test case (with copy/edit feature).  I think you can copy the same table .. Please make sure it has pagination.

Filter should allow user to

[2015-02-05 05:24] Taitalus opened #368 "Finishing the UI Admin"
Here goes the requirement:
1. Manage Project options will be there. On clicking those it will open an interface just like the set and tag.

2.List project option will be there.
Clicking on those will open a table containing all these information
a. Project Name
b. Owner
c. Start Date
d. End Date
e. Team

3. Team Owner Can be changed.

@raqbo  and @riz-hossain  please approve the requirements . I w

[2015-02-05 16:57] Taitalus commented on #368
@riz-hossain  vai please confirm this.

[2015-02-05 17:00] Taitalus opened #369 "Edit Type Data Passing in Main Driver"
Previously we are able to send single and multiple dataset from maindriver to any other driver file. Now we want to send the edit type data.
We can create test case by edit type data. now we want to do pass the data from maindriver and show them into execution page.

[2015-02-05 17:00] Taitalus commented on #369
@riz-hossain  and @raqbo  please see this.

[2015-02-05 17:01] riz-hossain commented on #368
Hmm please refer to the discussion we had in Dhaka. Look at your notes and make sure everything is covered. Additionally add a new field where you will add hours available in a day and days available in a week for each user. We will be using this later for planning.  so two additional fields.  

[2015-02-06 03:06] Taitalus opened #370 "Project Management Part"
As Multiple Project Demo were coming, it was very annoying for me to manually add all the things in the Database. Here is the flow that one should go to make a automation project run in their pc:

1.Admin will create a project and set an owner.
2.Project owner will go to project page and create some team and add them to their projects.
3.Each of the user that are created should assign themselves w

[2015-02-06 03:07] Taitalus commented on #370
@raqbo  and @riz-hossain  please all the requirements are fulfilled.

[2015-02-06 03:15] riz-hossain commented on #370
on latest db, i dont see any project under me ..
i only see project 28

On Thu, Feb 5, 2015 at 10:06 PM, Raju Ahmed Shetu <notifications@github.com>
wrote:

--

Riz Hossain
Engineering Physics (B.Eng)
Automation Test Lead
Research In Motion
295 Phillip Street
Waterloo, ON N2L 3L3

This transmission (including any attachments) may contain confidential
information, privileged material (including mat

[2015-02-06 03:17] Taitalus commented on #370
login with rizu and .

[2015-02-06 03:31] Taitalus opened #371 "Delete of Version is to be done."

[2015-02-06 04:18] Taitalus opened #372 "Second Level Dependency can not added."
Second Level Dependency can't be added.

[2015-02-07 03:53] riz-hossain opened #373 "in test case create project filters are not begin applied to section and feature"

[2015-02-07 03:55] Taitalus commented on #373
Okay

[2015-02-07 16:55] riz-hossain opened #374 "if there is only one dataset, main driver should send only that item as step data"
Currently main driver sends data for single data set as [[dataset]]  it should simply check if the len is 1 and then forward just that..

[2015-02-08 05:32] riz-hossain opened #375 "once an automation run is complete, i cannot use the same machine to submit another run"
- when a run is complete, i cannot deploy another run using the same machine.  I have to restart the run manager.

- when a run starts, the machine still shows online.  It should show "in progress" in available test pc

- re-run gives error message

[2015-02-08 05:34] Taitalus commented on #375
please tell @minar09  fix the SendEmail function the MainDriver.py other wise the function returns a error.
@riz-hossain  the rerun is okay. I fixed that earlier.it's working on mine though. I will see that also.

[2015-02-08 05:40] riz-hossain commented on #375
But it should be handled still. Run manager should still continue even if email features fails. The availability status on the deployment page must be updated accordingly.  Also that page should be sorted by available machine being at the top. When I try to re-run it shows error on the page. Re-run will probably work once you fix the run manager bug. @minar what is the main issue with email here? 

[2015-02-08 06:59] minar09 commented on #375
Email was kept commented out because of some error in run(I dont know
though coz i didn't face any.) Still that email function giving error?? I
haven't looked up to it since i implemented that.

On Sun, Feb 8, 2015 at 11:40 AM, Riz Hossain <notifications@github.com>
wrote:

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-02-08 13:00] Taitalus commented on #370
point no 3. and feature of point 4 is done. going for the 2.

[2015-02-08 18:24] minar09 opened #376 "Project-Team wise email configuration form web"
for each project, new tab where it will give option to configure email.

Fields to add

from address: "automation.solutionz@gmail.com"
user name:
password:
smtp address
port
TTLS: bolean True or False (Drop down)

[2015-02-08 18:27] minar09 opened #377 "Project-team based filtering for test steps"
View steps page will show steps under the project of the user assigned and there will be a new column for team. These will be saved in DB while creating/updating steps.

[2015-02-08 19:11] riz-hossain opened #378 "data from main drivers are being sent in random orders"
when data are are coming from main driver to step, they are not coming in the order that is entered in the test case.

[2015-02-08 19:18] riz-hossain opened #379 "in correct status is displayed. Even when module is passing it is displaying error."
![image](https://cloud.githubusercontent.com/assets/5302523/6097950/445493b4-af9d-11e4-9195-f452d7c0ed32.png)
http://demo.automationsolutionz.com/Home/RunID/Sun-Feb-8-14:14:55-2015/

[2015-02-08 19:20] riz-hossain opened #380 "Steps with same names are not updating their status from in progress"
![image](https://cloud.githubusercontent.com/assets/5302523/6097955/8a7cd630-af9d-11e4-9044-d0a4cbb347ef.png)
http://demo.automationsolutionz.com/Home/RunID/Sun-Feb-8-14:14:55-2015/

[2015-02-09 03:50] Taitalus commented on #375
It is fixed . you can close it now.

[2015-02-09 03:51] riz-hossain commented on #375
Okay. Add the done tag to it.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on t

[2015-02-09 05:14] Taitalus commented on #380
![production_server](https://cloud.githubusercontent.com/assets/5759182/6101342/cc5af21c-b04c-11e4-843d-ef9a9a0964d4.png)
http://demo.automationsolutionz.com/Home/RunID/Sun-Feb-8-23:58:12-2015/

[2015-02-09 05:19] Taitalus commented on #380
Ran the automation run in the production server and selected my machine as the test machine. This is what comes out. I did it every time it is okay. I don't know what kind of sorcery is this.

[2015-02-09 09:51] Taitalus commented on #380
Got it. You should always return 'PASSED' instead you returned 'PASS'
and it always checked in the browser to match it as 'PASSED' and thus though passed it didn't get updated.

[2015-02-09 09:54] Taitalus commented on #379
This is happening whoever wrote the driver file gives the LogLevel = 1. That is not a database problem rather it is  a developer's problem.

CommonUtil.ExecLog(sModuleInfo, sDetails, iLogLevel=1) that is the definition.

iLogLevel:
1=PASSED
2=WARNING
3=FAILED

[2015-02-09 09:55] Taitalus commented on #378
done as like as the test case edit page.

[2015-02-09 13:34] riz-hossain commented on #380
I thought I created a ticket for it to accept various formats Like passed, Pass, True, and so on...

[2015-02-09 13:38] Taitalus commented on #380
Yeah. We discussed about it. And you didn't give me the list of values. And eventually we moved on to others topic. Give me the list I will create and implement one.

[2015-02-09 13:44] riz-hossain commented on #380
It shouldn't matter about upper or lower case... so convert everything on main driver end to lower case once you get the variable,if it's text.  Pass, passed, True (text), True (boolean) , 1 (integer) , 1 (string) Fail, failed, false (text), false (boolean), 0 (integer), 0 (string)

[2015-02-09 13:54] Taitalus commented on #380
Okay got it.i will implement it right away.                                                                                                                                                                                                                                                                          Raju Ahmed ShetuSoftware DeveloperAutomation Solutionz1212 Countrystone Drive,Kitchener, N2

[2015-02-09 14:42] Taitalus opened #381 "Return type of the MainDriver.py should be universal"
It shouldn't matter about upper or lower case... so convert everything on main driver end to lower case once you get the variable,if it's text.  Pass, passed, True (text), True (boolean) , 1 (integer) , 1 (string) Fail, failed, false (text), false (boolean), 0 (integer), 0 (string)

Right Now this will be okay.

[2015-02-10 00:55] riz-hossain commented on #378
It is showing in the execution data in reverse order so i am sure main driver will be wrong ..

the bug is not in the main driver.. the bug is when you are copying the data from master table to execution table.

![image](https://cloud.githubusercontent.com/assets/5302523/6119334/6abd39a4-b095-11e4-96ad-16c6aa1d8a62.png)

[2015-02-10 00:56] riz-hossain commented on #378
![image](https://cloud.githubusercontent.com/assets/5302523/6119356/c1d1f75c-b095-11e4-9f96-0808bc3c9deb.png)

[2015-02-10 03:18] Taitalus commented on #378
I fixed that for main driver.for this page it is to be fixed.

[2015-02-11 00:37] riz-hossain opened #382 "only users involved in a project should be displayed in all places"
Pages to consider:
- Deployment pages
- Sending email notification from test execution and result page
-

[2015-02-11 00:54] riz-hossain opened #383 "bundle report is broken with latest db"

[2015-02-11 00:56] riz-hossain opened #384 "report should only display current project and team info"
Testing > Report > Test type report

currently shows all folders .. should only display sections that belongs to the selected project.

[2015-02-11 00:58] riz-hossain opened #385 "Only test set created for the project and team should display"

[2015-02-11 01:02] riz-hossain opened #386 "view and organize page is not displaying any test cases"
whatever new changes were made is breaking the view and organize page

[2015-02-11 07:33] minar09 commented on #383
Which one is the latest DB?

On Wed, Feb 11, 2015 at 6:54 AM, Riz Hossain <notifications@github.com>
wrote:

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-02-11 12:32] riz-hossain commented on #383
The one you uploaded                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the TELUS 

[2015-02-11 12:37] minar09 commented on #383
But what is it that got broken? My local seems fine though. No report is coming?

[2015-02-11 12:49] riz-hossain commented on #383
Yeah The graph is not being displayed.                                                                                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smart

[2015-02-11 13:18] minar09 commented on #383
Could you please give what error are you getting in your server?

[2015-02-11 13:21] riz-hossain commented on #383
Okay.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the TELUS network.

[2015-02-11 13:26] riz-hossain commented on #383
File "C:\Python27\lib\socket.py", line 324, in write
    self.flush()
  File "C:\Python27\lib\socket.py", line 303, in flush
    self._sock.sendall(view[write_offset:write_offset+buffer_size])
error: [Errno 10054] An existing connection was forcibly closed by the
remote ho
st
----------------------------------------
Exception happened during processing of request from ('180.76.4.44', 54032)
Traceb

[2015-02-11 13:34] riz-hossain commented on #383
Log for graph is at the end.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on th

[2015-02-11 13:42] minar09 commented on #383
demo server shows graph.

[2015-02-11 14:00] riz-hossain commented on #383
Can you log in as iqbal hassan                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on 

[2015-02-11 18:42] minar09 opened #387 "Test case search for deployment should be project and team wise"
Test case search for deployment should be project and team wise, otherwise its making messes in reports as report is done based on particular project and team.

[2015-02-11 19:31] minar09 commented on #387
@riz-hossain  vai, this needs getting done before jumping to a clean DB.

[2015-02-11 19:32] riz-hossain commented on #387
Is this a lengthy fix?                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone on the TELUS

[2015-02-11 19:33] minar09 commented on #387
I am quite sure about deployment search.

[2015-02-11 19:33] minar09 commented on #387
I am not quite sure about that.

[2015-02-11 20:13] Taitalus commented on #387
Already done. Check.                                                                                                                                                                                                                                                                          Raju Ahmed ShetuSoftware DeveloperAutomation Solutionz1212 Countrystone Drive,Kitchener, N2N 3R4.

[2015-02-12 02:12] riz-hossain opened #388 "Available machines are not being filtered by team and project"
Available machine needs to be filtered by team and project

[2015-02-12 02:24] riz-hossain opened #389 "Search test case is not able to display any test caae"
I cannot search any test cases from test case search feature

[2015-02-12 02:30] riz-hossain opened #390 "Unable to add new test cases to test set"
In test set page, when I select a test set to add test cases, it doesn't display any test cases.

[2015-02-12 03:40] riz-hossain opened #391 "Implementation new search in deployment page for test case and other items"
This will be same or similar as you have done for test step.

One thing to keep in mind is, we do have different items this time, example test case, section, label, and so on.

[2015-02-12 03:42] riz-hossain opened #392 "Pagination is needed in view and organize test case section"
Pagination is a must in view and organize test case page.

If you need help. Ask @minar or @shetu

[2015-02-12 03:58] riz-hossain opened #393 "Implementation of new search in test case search page"
Same as deployment page search for test case.

[2015-02-12 04:01] riz-hossain opened #394 "Individual step log are displaying multiple step log when steps are same name"
In result page, all the steps log with same names are displaying together when a single step log.

[2015-02-12 04:30] Taitalus opened #395 "Every Search Box is to have the test case title autosuggestion feature."

[2015-02-12 04:32] Taitalus opened #396 "Screen Capture and Log file for each test cases is to be uploaded in production"

[2015-02-12 04:32] Taitalus opened #397 "Each Step in test case should have attachment options"

[2015-02-12 04:38] Taitalus opened #398 "Kivy Run Manager"
Salam Guys,

I looked at few GUI app designer for python today and found Kivy to be the most easy, well documented, and nicest looking UI.

Setup was quite simple:
pip install wheel
download and http://www.lfd.uci.edu/~gohlke/pythonlibs/#kivy
pip install wheel_file.whl

They have lots of example.

This needs to be part of the installer package.

Basic requiremnt:
Once started, it will find the DB

[2015-02-12 04:40] Taitalus commented on #389
pagination is needed in this page.

[2015-02-12 04:43] riz-hossain commented on #389
For pagination, please create a new ticket.  Also this page by default should show all test cases.  The filters will reduce the test case search. Same as result page for test case how we show all runs and one can reduce them by applying filters. Please do these as well if you can finish them quickly. 

[2015-02-12 05:48] Taitalus opened #399 "Searching in Run ID detail page is to be done properly"

[2015-02-12 06:41] Taitalus commented on #389
In this page pagination was the main issue. Because TableDataTestCasesOtherPages needed two parameter called test_case_page_current and test_case_per_page which was absent in this page. .It's now fixed.

[2015-02-12 15:00] riz-hossain opened #400 "Default view in search test cases should show all test cases"
It should show all test cases first and user should be able to filter... filter can be current filter that we already have.

[2015-02-12 15:30] minar09 commented on #385
It seems it needs DB modification. Right now set and tags are simply being saved in config_values table.

[2015-02-12 15:34] riz-hossain commented on #385
If it has id, we can use the team wise setting table. So we put the id mapping there and then we can use that to filter.  But if we need to add, sure. If we need to add it sure. Please make sure we add other info such as who created and when and last modified date. 

[2015-02-12 18:19] Taitalus commented on #394
lastly the sequence number was not considered.Now it considers.

[2015-02-12 18:24] riz-hossain commented on #395
same drop box as test case and test step creation page ..

this bug is applied to deployment page search boxes.

Search test case
detail tab search boxes (except dates, and objective all other boxes needs it)

[2015-02-12 21:00] Taitalus commented on #395
Sorry The first tab test cases search is left.

[2015-02-12 21:11] minar09 commented on #390
The reason behind the regression is the parameter and functional change of the test cases fetching function. Since the same function was modified for pagination in another page, and this page was not updated so, that made the bug. Now this is also updated with pagination.

[2015-02-12 21:15] riz-hossain commented on #390
In that case view and organize may also be solved.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBer

[2015-02-12 21:49] minar09 commented on #385
New Test set creation is now linked with project and team, and only project-team wise sets will be shown.

[2015-02-12 21:55] riz-hossain commented on #395
Keep in mind to display search content based on current proejct and team. Right now it's displaying everything from all projects.  

[2015-02-12 22:25] minar09 commented on #386
Fixed this page as the test set page, similar bug.

[2015-02-12 22:30] riz-hossain commented on #386
Nice. Can you make sure you can create new section. Should be working but just to double check.

[2015-02-12 22:36] minar09 commented on #386
Yeah. Working. Tested with creating test cases.

[2015-02-13 01:46] riz-hossain commented on #385
I cannot seem to create any new test set.

I dont know if there is any new db thats needed for this .. if there is ..
please upload . if not please fix the issue

On Thu, Feb 12, 2015 at 4:49 PM, Matiur Rahman Minar <
notifications@github.com> wrote:

--

Riz Hossain
Engineering Physics (B.Eng)
Automation Test Lead
Research In Motion
295 Phillip Street
Waterloo, ON N2L 3L3

This transmission (incl

[2015-02-13 01:51] riz-hossain opened #401 "Milestone drop down in deployment page is not filtering by typed content"
Other drop down are displaying "no match found" when invalid search is typed.

But milestone drop down is always displaying even when typed char is not matched

[2015-02-13 05:02] minar09 commented on #385
No new db is needed. Just team_wise_settings table is used. Or maybe there is not set is shown, that's why you cannot create as you said.

[2015-02-13 05:50] minar09 commented on #385
Fixed in new commit.

[2015-02-13 09:06] #386 closed

[2015-02-13 09:06] #390 closed

[2015-02-13 10:30] Taitalus commented on #399
Implemented select2 searching.

[2015-02-13 11:05] riz-hossain opened #402 "Drop down for deployment, search test case are not displaying content based on proejct and team"
Drop down selection content needs to show based on team and project

[2015-02-13 11:08] riz-hossain opened #403 "Result and execution page filter needs updated drop down"

[2015-02-13 12:39] Taitalus commented on #403
nothing is wrong. drop down is updated and it's filtering with team and projects always. That's in the db.see.
![no problem in db](https://cloud.githubusercontent.com/assets/5759182/6187355/a8d48194-b3af-11e4-904d-516ec9b803fd.png)

[2015-02-13 12:41] Taitalus commented on #402
it's displaying . and always filters with project and team.  see there the condition of the db
![no problem in db](https://cloud.githubusercontent.com/assets/5759182/6187370/d3fc2318-b3af-11e4-9a23-499954e9bd74.png)

[2015-02-13 12:55] riz-hossain commented on #402
There is a double mapping for section.  I'm this table there is no team or project mapping. That table should only be looked at for when creating section.  You need to look at team wise settings table

[2015-02-13 12:58] riz-hossain commented on #402
Or we can add two more columns here... Project id and team id. Then it may make life a lot easier. 

[2015-02-13 13:01] riz-hossain commented on #402
Also... keep in mind that in the tag table when we split these sections, they all need to refer back to team and project as well. 

[2015-02-13 13:02] Taitalus commented on #402
I have got this info after running a query joining the team_wise_settings and product_sections. Here it is giving the section that are associated with the team 152(WebAutomation) and project PROJ-29(Automation). see the query.

[2015-02-13 13:11] riz-hossain commented on #402
There must be something wrong with the query. You maybe getting the section id properly. But android section does not belong to project 29. Also keep in mind that at the end we split all the sections and put them independently in the test case tag table. If there is something wrong with db. Make the changes needed and show me that android section does not show up in this project but shows up in pr

[2015-02-13 13:15] Taitalus commented on #402
I think this project supposed to have one folder only named 'Clicksafety' right?? Adjusting db. We added those section to test..                                                                                                                                                                                                                                                                           Raju

[2015-02-13 13:21] riz-hossain commented on #402
When I go to manage test cases, I don't see android section there.                                                                                                                                                                                                                                                                                                                                          Sent

[2015-02-13 13:21] riz-hossain commented on #402
Don't remove all the sections from all projects.                                                                                                                                                                                                                                                                                                                                          Sent from my BlackBerr

[2015-02-13 13:22] riz-hossain commented on #402
View and organize I meant to say                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone o

[2015-02-13 22:17] riz-hossain opened #404 "Main driver continues to run when a step fails"
I think you have it to continue to run even when a step fails. It may have been done long time ago as a quick fix for demo for something.

Make sure that logic is removed.

It should only continue if a step fails if the step says " continue on fail"

[2015-02-13 22:42] minar09 opened #405 "Test case search for add/remove in test set needs new dropdown search"
As the test case search function is changed for select2 drodown search, now test case search in add/remove test cases for test set needs to be updated as well.

[2015-02-13 22:47] minar09 opened #406 "View and Organize page showing only one test case for selected section"
Test case fetching function for selected section seems to be modified for other pages which leaves view and organize test cases page showing only one test case. Maybe this is something to do with that modified function used to work with new dropdown search which is causing this as this page uses the same function.

[2015-02-14 08:56] riz-hossain opened #407 "Search is not showing unique item"
If there are two passed items in the run detail, it is showing passed twice. It needs to show unique item only.

This bug was found in run id detail page. But make sure it is solved in all other drop downs.

[2015-02-14 18:30] riz-hossain opened #408 "when automation machine is made available, it comes to manual pc as well"
![image](https://cloud.githubusercontent.com/assets/5302523/6200595/a67a2df6-b44d-11e4-9921-403ce3e2c123.png)

[2015-02-14 19:14] riz-hossain opened #409 "Cannot rename title of a test case"

[2015-02-14 19:33] minar09 commented on #409
Right now, having new select2 dropdown pages cannot rename titles. Better if the dropdown could give option to rename title or we could do it by giving another field to rename the title.

[2015-02-14 21:28] minar09 opened #410 "Label detail view with edit feature and linked components"
labels could be searched and selected from searchbox and by selecting, it would take to detail view and edit page for that label. Which contains label info and edit feature in detail tab and linked test cases, tasks, bugs, requirements, milestones etc. in separate tabs.

[2015-02-14 23:52] riz-hossain opened #411 "Only main driver's log are showing up in DB. Other files content are not going in..."

[2015-02-15 00:54] riz-hossain opened #412 "if subfield is empty it is being removed"
when sub fields are empty it is being removed.

if we give subfield option than it should always be passed to drivers.

it should always map to what the user enters in the table and what the user gets on the db

[2015-02-15 01:28] riz-hossain opened #413 "bundle report is not taking the last result from the runs"
bundle report is not taking the last run result.

[2015-02-15 07:20] Taitalus opened #414 "MainDriver is running a test case twie."

[2015-02-15 07:46] riz-hossain commented on #414
You can mark it done                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the TELUS 

[2015-02-15 07:47] Taitalus commented on #414
You solved??                                                                                                                                                                                                                                                                           Raju Ahmed ShetuSoftware DeveloperAutomation Solutionz1212 Countrystone Drive,Kitchener, N2N 3R4.

[2015-02-15 07:51] Taitalus commented on #414
closing..

[2015-02-15 07:51] #414 closed

[2015-02-16 15:10] riz-hossain opened #415 "Only dependency that was selected should be showing up on detail of the run for a runid"
![image](https://cloud.githubusercontent.com/assets/5302523/6214086/0be5a900-b5c4-11e4-9dab-af611264bcec.png)

[2015-02-17 19:41] riz-hossain opened #416 "Unable to delete test cases using delete features"
Keep in mind that it is not going to go to results table to delete from existing run history.

Only from master tables.

[2015-02-17 19:45] riz-hossain opened #417 "Have an option to clear run history by date range"
Owner of the team/project needs to have the capability to delete run history from result tables to off load old data.

They will be able to select a date range and select delete. Once deleted, it can no longer be able to restore.

[2015-02-17 19:52] riz-hossain opened #418 "Option to restore test cases from old run."
Since we are are still having permanent data loses of test cases by editing them, we need to give users option to restore test cases from old test cases from executed test run. This will work more like a restore feature.

All data for that cases gets backed up in our execution tables. We need to have a feature that says "restore from previous versions"

Once clicked, it will display multiple versi

[2015-02-18 02:37] riz-hossain opened #419 "When I am saving data for step it's not saving the order I am enter"

[2015-02-19 12:15] riz-hossain opened #420 "Icons in drop down should have a little bit more gap between text and icon"
Can you make sure there is a little bit more space between the icons and text.

[2015-02-19 12:43] riz-hossain opened #421 "Cannot create a feature with space"
Cannot create a feature  with space in the name

[2015-02-19 12:49] riz-hossain opened #422 "Cannot create same section name as feature"
Please fix this one first.

Feature and section should not conflict with each others name.

[2015-02-19 12:50] riz-hossain opened #423 "In view and organize test cases, copy and edit icons are swapped"

[2015-02-19 12:55] riz-hossain opened #424 "New sub features are not being displayed"
I created a new feature with sub features. When I go to create a new test case, I don't get any sub options.

[2015-02-19 16:59] Taitalus commented on #419
Done with the test case sequencing.

[2015-02-19 17:02] Taitalus opened #425 "Test Case Attachment is done"

[2015-02-19 17:12] riz-hossain commented on #425
Is it tested?                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the TELUS network

[2015-02-19 17:12] riz-hossain commented on #425
List the test cases please                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the 

[2015-02-19 17:13] Taitalus commented on #425
Yes vai.                                                                                                                                                                                                                                                                          Raju Ahmed ShetuSoftware DeveloperAutomation Solutionz1212 Countrystone Drive,Kitchener, N2N 3R4.

[2015-02-19 17:13] Taitalus commented on #425
List the test cases?? please elaborate.

[2015-02-19 17:14] riz-hossain commented on #425
How and what did you test.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the 

[2015-02-19 17:17] Taitalus commented on #425
ow. okay.

Test Cases:
1. I have attached an xls file.
2. then attached image file
3. attached an pdf.
Result:
1.I was able to download xls file.
2.The attached image was viewed correctly
3.I was able to download the pdf file.

[2015-02-19 17:19] riz-hossain commented on #425
How about in result page. No one will be downloading it from edit view.

[2015-02-19 17:21] Taitalus commented on #425
you told me to do that like this.

[2015-02-19 17:23] riz-hossain commented on #425
Yes to upload. But it's no good if users can't view them during run.                                                                                                                                                                                                                                                                                                                                         Sen

[2015-02-19 17:24] Taitalus commented on #425
so what should we do then??
I will give them option to view from the run page.

[2015-02-19 17:31] riz-hossain commented on #425
Yes. Also test:Upload attachments to old test cases that didn't have attachment Upload same attachment to different test steps  of the same test case Deleted attachments from existing test cases What type of limit do we have?   Can I upload 700mb file? We should probably limit to 5mb.  

[2015-02-19 17:32] Taitalus commented on #425
can't understand vai.

[2015-02-19 18:35] Taitalus commented on #412
The data passing in the MainDriver is good. now. subfield is not removed.

[2015-02-19 21:24] riz-hossain commented on #421
We want with space.

[2015-02-20 00:39] riz-hossain opened #426 "Need to do some minor formatting for drop down"
The spacing between icon and text in drop down looks good.

Let's do a little more formatting:
ID - title - type

Let's make ID and type non bold and italic and title will be bold and straight.

This will make drop down item stand out.

[2015-02-20 02:33] Taitalus opened #427 "In Manual Test Case Page, feature is coming as an int."

[2015-02-20 02:42] Taitalus commented on #378
Main Drivers are being sequenced now.

[2015-02-20 02:44] Taitalus commented on #349
Working nicely now.

[2015-02-20 02:45] Taitalus commented on #342
Done

[2015-02-20 02:48] Taitalus commented on #217
Done.

[2015-02-20 04:48] Taitalus opened #428 "Manual machine is to be created correctly."

[2015-02-20 04:49] Taitalus opened #429 "After Manual Run, the run id detail page is showing error."

[2015-02-20 04:52] Taitalus opened #430 "Status in the manual machine is to be shown correctly"

[2015-02-20 05:03] riz-hossain commented on #425
when attachment is added to the exuection/view page, then you can tag it as Done

[2015-02-20 05:04] #419 closed

[2015-02-20 05:04] #411 closed

[2015-02-20 05:05] #416 closed

[2015-02-20 05:05] #420 closed

[2015-02-20 06:30] Taitalus commented on #428
Created a New test machine with the dependency that has no version.
It was created successfully.

for #429
I have deployed a run on that machine
RunId detail page is coming nicely.
Image attached.
![tes](https://cloud.githubusercontent.com/assets/5759182/6282253/14dc51ea-b8fc-11e4-85e2-29443ad414e9.png)

[2015-02-20 07:11] Taitalus commented on #430
I have fixed that right now. But what you wanted needs another separate module or python process to constantly look over the database to inspect the status change of machines. I guess the day before demo is not the right time to do it. I will create a tab on it. and tag it as done.

[2015-02-20 07:20] Taitalus opened #431 "In Run Page , the objective will be like milestone"
after selection the test objective should not be in the selected box rather than it will be like how the milestone selected.

[2015-02-20 07:48] Taitalus opened #432 "Log File should not get deleted after each run."
Log File should not get deleted after each run. As #396 is stopped for time being.

[2015-02-20 08:31] Taitalus opened #433 "Cleaning Up Run History"
If possible it is to be done before demo

[2015-02-20 13:04] riz-hossain commented on #430
We already have a separate process that mina‎r created for email. However you don't need it. We only need to check for this when someone clicks on deployment link. When deployment link is clicked, we can do the clean up. Let's do this after demo.  

[2015-02-20 23:57] riz-hossain opened #434 "[need before demo] steps created directly from test case is not being displayed for any new step search or step edit"

[2015-02-21 03:29] Taitalus commented on #433
@riz-hossain see this..

[2015-02-21 14:52] riz-hossain opened #435 "Testing needed for https://github.com/AutomationSolutionz/Framework_0.1/issues/434"
Please create test cases for this fix and verify that bug is resolved.

Direct your question first to developer than to me.

Once you have written manual test cases using our framework, contact with  me to get them reviewed and approved.

Once approved, you will need to automate them.  For that you can first contact with @Taitalus and follow up with me afterward.

This needs to be done in next 2 d

[2015-02-21 15:22] riz-hossain opened #436 "Testing needed for https://github.com/AutomationSolutionz/Framework_0.1/issues/434"
Please create test cases for this fix and verify that bug is resolved.

Direct your question first to developer than to me.

Once you have written manual test cases using our framework, contact with  me to get them reviewed and approved.

Once approved, you will need to automate them.  For that you can first contact with @Taitalus and follow up with me afterward.

This needs to be done in next 2 d

[2015-02-21 15:31] riz-hossain opened #437 "Testing: https://github.com/AutomationSolutionz/Framework_0.1/issues/432"
This needs testing manually.  We will skip automation for time being.

Again follow the same process  as the first task.

[2015-02-22 02:38] riz-hossain opened #438 "This warning from main driver needs to be removed. It is not relevant content"
![image](https://cloud.githubusercontent.com/assets/5302523/6317078/cc1fd936-ba0e-11e4-9ed0-94df7ef5a6f9.png)

[2015-02-22 04:14] sazid commented on #438
Well, it's a programming error. Besides, how come errors or warmings show
up in the results? There's probably a fault in the logic

On Sun, Feb 22, 2015, 8:38 AM Riz Hossain <notifications@github.com> wrote:

[2015-02-22 04:30] riz-hossain commented on #438
A warning level log doesn't fail test cases, but an error fails a test case. Main driver needs to log messages to server. There are different log levels and other logics that you need to review.  If main driver is calling a step and which driver and such those information needs to be shown in the web.  But this is what we decide to show in db result, so we are in control of it. There is option to

[2015-02-23 16:54] chandanghosh21 opened #439 "Unable to create a Test case when no dependency is created for the team"
URL: http://demo.automationsolutionz.com/Home/Login/

1. Go to the above URL
2. Login with valid credential
3. Try to create a test case

Please see the attachment.
![server not responding](https://cloud.githubusercontent.com/assets/11033216/6332325/c7a21b52-bbae-11e4-9f3a-c9caebb0999e.jpg)

Expected result: Test case should create
Actual Result: Unable to create a test case.

[2015-02-23 16:55] riz-hossain commented on #402
‎Shetu,Please look into this issue.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphon

[2015-02-23 17:40] aazizmojumdar commented on #439
I also fetch this issue.

[2015-02-23 18:37] riz-hossain commented on #439
Thanks.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the TELUS network.

[2015-02-23 18:43] sazid commented on #439
When something fails or you find a bug, please try to attach the log file so that it instantly helps the developer to find the correct spot in the code (because, there's thousands of lines of code to look at).

[2015-02-23 19:51] chandanghosh21 opened #440 "Test case - Estd. time - On hour 1 digit is showing"
URL: http://demo.automationsolutionz.com/Home/Login/

1. Go to the above URL
2. Login with valid credential
3. Go to the create test case step
4. Click on Estd. time logo.

Observe the time format. Please see the attachment.

Expected result: On hour 2 digit (00) should show by default.
Actual result: 1 digit is showing.
![estimated time](https://cloud.githubusercontent.com/assets/11033216/6335708

[2015-02-24 03:15] riz-hossain commented on #439
@minar
@shetu

What's happening here?

[2015-02-24 03:17] riz-hossain commented on #439
Is it happening to all test cases?

Provide all the details parameters you are using for this test case.

List the steps you are using.

[2015-02-24 03:23] riz-hossain commented on #439
@shetu

Looks like there is no dependency created for this project.

We need to handle this if someone doesn't want to have any dependencies.

Aziz, Chandan. Please talk with Minar or Shetu to clarify what is dependency, why it is used and how it works for test case management.

[2015-02-24 03:25] Taitalus commented on #439
So one test case might not have any dependencies right??

[2015-02-24 03:34] riz-hossain commented on #439
That team and project may not have any dependencies and we need to be able create test cases and run. If someone creates a test case without dependencies and later adds dependency to their team, test cases should still run.   When test cases with dependencies and not dependency are selected together, we should not remove test cases that do not have dependencies.If no dependency is selected, we may

[2015-02-24 03:40] riz-hossain commented on #439
‎Minar or Shetu please create a dependency for browser for time being and explain to Chandan and Aziz their functionality.  Make sure you can create test cases. Priority for this will be lower for time being as we need admin management page done first for our clients delivery. 

[2015-02-24 03:54] riz-hossain opened #441 "in step edit view when get test cases is called, test case does not expand to show all steps"
Looks like you got the view page fixed but get test cases function in the step edit view is not expanding all the steps

[2015-02-24 03:57] riz-hossain opened #442 "features and section with sub options should be displayed with / or \"
CourseSettings.Admin	User_Settings.Admin

The dots above should be replaced with slash.. see the view and organize page

![image](https://cloud.githubusercontent.com/assets/5302523/6342990/2b0c905a-bbaf-11e4-8dc0-190936cd3cdd.png)

[2015-02-24 03:59] riz-hossain opened #443 "There is no option to filter by "Type" in execution page view"
We need to make sure that users are able to filter by type as well

![image](https://cloud.githubusercontent.com/assets/5302523/6343014/709f4838-bbaf-11e4-8e6b-b9039955538a.png)

[2015-02-24 04:05] riz-hossain opened #444 "There is no option to search by Comment in execution page and automation run needs to add comments as the failed reason"
As we fix the bug for common failed reason, user will need to search for common failed reason by comment.

This feature was there from day 1 but we somehow removed it.

first error message of the first failed step for automation run wiill be added in the comment of the step.

This is one of our highlight of demo and presentation.  This needs be back as soon as you are done with Admin page stuff

[2015-02-24 04:12] riz-hossain opened #445 "Project settings: I can create a type of dependency but i cannot add any new item to it"
This is the highest priority bug.  Before working on anything, fix this one ASAP.

[2015-02-24 04:19] riz-hossain commented on #439
Salam Guys,

When you log a new bug always add the tag Triage.  This is the tag Sunny
bhaie will use to assign task to appropriate developers.

Sunny bhaie please review all new bugs logged by our testers and follow up
with developers to identify which bug belongs to who and confirm with me
for priority.

All please follow this process immediately.

Thanks,
Riz

--

Riz Hossain
Engineering Physics

[2015-02-24 05:01] riz-hossain commented on #439
body {  font-family: "Calibri","Slate Pro","sans-serif"; color:#262626 }  ‎Hi Minar, Please create automation accounts for Kumanan, Chandan, and Aziz.  Also add an additional account for Steve.Madden@automationsolutionz.comThanks,RizSent from my BlackBerry 10 smartphone on the TELUS network.

[2015-02-24 05:44] riz-hossain commented on #439
Chandan vai and Aziz vai have their accounts now. So I need to create other
two?

On Tue, Feb 24, 2015 at 11:01 AM, Riz Hossain <hossain.iqbal@gmail.com>
wrote:

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-02-24 05:45] riz-hossain commented on #439
Yes.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on the TELUS network.

[2015-02-24 12:27] chandanghosh21 opened #446 "Step deletion - Step no. is missing."
URL: http://demo.automationsolutionz.com/Home/Login/

1. Go to the above URL
2. Login with valid credential
3. Click on TESTING Tab ---> Test Case ---> Create/Edit
4. Click on 'Steps'
5. Click on (-) sign beside 1 and observe the pop up message.
6. Click on cancel button
7. Now try to delete the step by clicking '-' sign beside the '+' sign and observe the pop up message

Please see the attachment

[2015-02-24 14:34] riz-hossain commented on #446
Correct message can be that "Above step". This will save time for coding and can be used as generic. 

[2015-02-24 14:53] sazid commented on #446
Agree with @riz-hossain

On Tue, Feb 24, 2015, 8:34 PM Riz Hossain <notifications@github.com> wrote:

[2015-02-24 16:40] minar09 opened #447 "on mouse Right click pop up options not coming in mozilla firefox"
on mouse Right click pop up options in Project setting page not seems to be working in mozilla firefox

[2015-02-24 20:02] chandanghosh21 opened #448 "Create Test Case - Unable to insert data set on 'Data'."
URL: http://demo.automationsolutionz.com/Home/Login/

1. Go to the above Step
2. Login with valid credential
3. Click on TESTING Tab ---> Test Case ---> Create/Edit
4. Click on the 'Steps' tab
5. Try to insert data on 'Data' field

Please see the attachment
![insert data](https://cloud.githubusercontent.com/assets/11033216/6357921/3c76357e-bc92-11e4-80ac-562b1144d2b7.jpg)

Expected Result: Data sh

[2015-02-24 20:14] riz-hossain commented on #448
Each step needs to be defined if it needs data and the type of data.  I can understand the confusion from here. We may change the flow here in future and allow all steps to add data.  For now:Go to Test case > steps > crate edit There you need to find your step and enable data Then when you select this step during test case creation it will show red dot. Meaning you must provide data for that step

[2015-02-24 20:15] riz-hossain commented on #448
Log this as a requirement and set the priority to low and assign it to shetu. 

[2015-02-24 20:19] riz-hossain commented on #448
All the tags were not set as I have advised in my last email. Please do not make the mistake.  You need to add it as triage tag. It means the product and proejct manager will need to review this issue that you logged.  

[2015-02-24 21:09] minar09 opened #449 "Test Case step dataset flow change: dataset access to any step"
In test case creation, for test step dataset, clicking on the Insert Data set grey circle would pop up dataset for any step.
Then prompt user for what type of data he needs to insert, data or edit data. Then he can insert datasets.
After insertion, and clicking 'OK', the dataset circle will show green dot.
So there will be no red dot for compulsory data requirement and the data requirement field i

[2015-02-25 02:24] chandanghosh21 commented on #448
I apologies for my mistake.

[2015-02-25 03:29] chandanghosh21 opened #450 "Steps - Page not found (404) is showing"
URL: http://demo.automationsolutionz.com/Home/Login/

1. Go to the above Step
2. Login with valid credential
3. Click on TESTING Tab ---> Test Case ---> Steps ---> Create/Update
4. Enter Test step tile as '</>'
5. Click on 'Submit' button and observe the page

Please see the attachment
![step error](https://cloud.githubusercontent.com/assets/11033216/6364468/7d07e2fc-bcd0-11e4-9425-4bff9ccb6c2a.jp

[2015-02-25 05:49] Taitalus commented on #450
@raqbo vai this part was done by @minar09 . I think this would be his one.

[2015-02-25 05:50] raqbo commented on #450
OK. Thank you

[2015-02-25 07:56] chandanghosh21 opened #451 "Create test case - Step should show "Step Title""
URL: http://demo.automationsolutionz.com/Home/Login/

1. Go to the above Step
2. Login with valid credential
3. Click on TESTING Tab ---> Test Case ---> Create/Edit
4. Click on the 'Steps' tab
5. Observe the heading

Please see the attachment
![step_title](https://cloud.githubusercontent.com/assets/11033216/6366770/10b7bc10-bcf5-11e4-8437-993222ce2492.jpg)

Expected Result: "Step title" should sho

[2015-02-25 08:20] aazizmojumdar commented on #435
Test cases created and  bug #434 has verified.
Test cases:http://demo.automationsolutionz.com/Home/ManageSetTag/set/Set1/

[2015-02-25 17:30] chandanghosh21 opened #452 "Unable to Create Test Case for ( ' ' ) sign"
URL: http://demo.automationsolutionz.com/Home/Login/

1. Go to the above Step
2. Login with valid credential
3. Click on TESTING Tab ---> Test Case ---> Create/Edit
4. Try to create a test case with  content  ( ' ' ) and observe the result

[2015-02-25 17:31] sazid commented on #452
Hmm, we're already aware of this though. This is SQL injection.

Needs attention @riz-hossain. I posted about this in the google groups
preciously. If someone's got some time, please take a look at it.

On Wed, Feb 25, 2015, 11:30 PM chandanghosh21 <notifications@github.com>
wrote:

[2015-02-25 17:59] riz-hossain commented on #452
Was there a bug logged for it.?

Any bug we find discuss must be logged or else it will never be addressed.

We need to find all the characters that are not supported and block them as user types.

[2015-02-25 18:01] riz-hossain opened #453 "Section should be renamed to Folder"
Seems like a lot of people are confusing the term section and folder.

[2015-02-25 18:03] riz-hossain opened #454 "View and organize should be renamed to "Folder View""
View and organize is not what people are used to seeing.

Change the link name to "Folder View"

[2015-02-25 18:14] sazid commented on #454
Just did a quick fix from my phone. Check it out & close the issue.

On Thu, Feb 26, 2015, 12:03 AM Riz Hossain <notifications@github.com> wrote:

[2015-02-25 18:18] sazid commented on #454
6b2dbcc6ed

[2015-02-25 18:19] riz-hossain commented on #454
Also any other ui (table title test case creation) Needs the change to section to folder

[2015-02-25 19:03] chandanghosh21 commented on #436
Test case created, would you please check @riz-hossain

Test Case: http://demo.automationsolutionz.com/Home/ManageTestCases/Edit/TES-0424/

Thanks.

[2015-02-25 19:15] riz-hossain commented on #436
Make sure all the data are entered for each step.  Instead of saying "steps tab" you can say "go to step tab"Step title should be instruction in a short few words.  Instead of saying save button You should say "Save the test case" 

[2015-02-25 19:36] chandanghosh21 commented on #436
Thank you for the suggestion. I have updated the test case steps title. Please take a look.

Test Case: http://demo.automationsolutionz.com/Home/ManageTestCases/Edit/TES-0424/

Thanks,
Chandan

[2015-02-25 19:48] riz-hossain commented on #436
Data is missing.  Step that needs to be verified should say something else. For example " auto display step"Description you should say that enter part of the stepExpected should be it displays the step.  The purpose of this test case may not be clear to you as well. Please clear out the purpose with Minar. You also need to make sure that the manual step that was added didn't exists before.  So it

[2015-02-25 20:39] riz-hossain opened #455 "Manage milestone by drag drop (Kanban)"
Once you finish all the testing work .. lets start with this...

it has a lot of nice feature ..

http://jaredly.github.io/treed/whiteboard/
https://github.com/greggigon/my-personal-kanban

https://github.com/aliasaria/scrumblr

[2015-02-26 16:24] riz-hossain opened #456 "When runs are submitted, all runs are coming as manual run first"
Submit run button should do the calculation of the submitted run is manual, automation or hybrid.

If machine selected to run is automated , it will be either hybrid or Automation. If any run in the submitted session is manual test case it will be classified as hybrid or else it will be automation run.

[2015-02-26 20:51] minar09 opened #457 "Test case status 'Manual' in test case edit shows 'Disabled' after submit"
Test case status 'Manual' is not being used as it should be i guess. 'Forced Manual' as it was fixed.

[2015-03-01 17:48] riz-hossain opened #458 "Toggle switch or button along with slider issue with current slider"
...

https://proto.io/freebies/onoff/
http://ios-checkboxes.awardwinningfjords.com/

https://rawgit.com/tujamaica/ios7-switches/master/ios7-switches.html
https://github.com/tujamaica/ios7-switches
http://abpetkov.github.io/switchery/

https://ghinda.net/css-toggle-switch/

http://demos.jquerymobile.com/1.2.0/docs/forms/switch/

[2015-03-01 17:56] riz-hossain commented on #458
http://abpetkov.github.io/switchery/

This one looked the most comprehensive

[2015-03-01 17:59] riz-hossain commented on #458
https://rawgit.com/tujamaica/ios7-switches/master/ios7-switches.html
And this one ... which ever is easier to implement of the two... Please use them.

[2015-03-01 18:04] riz-hossain opened #459 "Dependency selection in test case create"
http://www.bootstraptoggle.com/

Have a look at this to see if you can use this to show which dependency is selected and which is not.

We can also use our green and red light dot as well

If you use this , the entire name would be the button.

[2015-03-02 06:18] sazid opened #460 "Google style buttons"
http://cssdeck.com/labs/google-buttons
http://cssdeck.com/labs/google-buttons-2
http://code.brucegalpin.com/google-plus-ui-buttons/

[2015-03-02 06:26] sazid commented on #458
https://github.com/AutomationSolutionz/Framework_0.1/issues/460

[2015-03-02 07:15] #415 closed

[2015-03-02 07:15] #428 closed

[2015-03-02 07:15] #439 closed

[2015-03-04 22:46] riz-hossain opened #461 "execution report not displaying test cases properly. See the image attached"
![image](https://cloud.githubusercontent.com/assets/5302523/6495237/41611036-c296-11e4-99f7-0a648c2b0984.png)

[2015-03-05 15:00] minar09 opened #462 "Dashboard upgrade"
1. Assigned Tests/Runs (run id - status)

2. Assigned Tasks (title - id - status - priority(based on priority and not completed tasks))

3. Bugs (title - id - status - priority(based on priority and not fixed bugs))

4. Requirements (title - id - status)

[2015-03-05 15:07] minar09 opened #463 "Common styling for all pages"
# Page Header: e.g. for view task page,  'All/ Task/ '
# All ids in tables need to be clickable
# Milestones in tables need to be clickable
# Tables related need to contain assigned users/testers
# Customizable columns in tables
# Swapping columns feature in tables

[2015-03-05 15:15] minar09 opened #464 "Task and Requirements family tree view"
Requirements and tasks will be shown in a family tree from root parents to leaf child tasks and siblings

Requirements' status will be defined by its tasks' last finishing milestone.

[2015-03-18 05:22] Taitalus opened #465 "User Must be linked with individual Projects"
User must be linked with each projects.

[2015-03-18 15:57] minar09 opened #466 "Edit Label with specific view page"

[2015-03-19 02:03] Taitalus opened #467 "Default Project Settings is not saved properly"

[2015-03-26 08:12] Taitalus opened #468 "Admin Page BaseTemplate"
A base template for the admin view is to be done.
There will be 3 menu link right now.
Project
  Create,
  Edit
  List Project

User
  Create/Edit,
  Link to Project
  List Project

This will be okay for now. don't miss to add all the styling that are already present right now. please do this one asap and let me know.

[2015-03-26 11:47] minar09 commented on #468
done!

On Thu, Mar 26, 2015 at 2:12 PM, Raju Ahmed Shetu <notifications@github.com>
wrote:

--
Matiur Rahman Minar
Programmer
Automation Solutionz
1212 Countrystone Drive,
Kitchener, N2N 3R4.

[2015-03-30 18:48] minar09 opened #469 "Super Admin page is accessible anyhow going by link"
Super Admin page is accessible just going by link without logging as admin

[2015-03-30 18:49] minar09 opened #470 "Email Notification with background task manager"

[2015-03-30 22:11] riz-hossain opened #471 "Android and iOS automation with Appium"
Will discuss detail and arrange Hardware

[2015-03-31 13:13] Taitalus commented on #469
@minar09  can you see this please.. I have no clue here.. as I haven't seen the login part.

[2015-04-04 12:05] riz-hossain opened #472 "set are not being filtered by team/projects"
fix this asap

[2015-04-04 12:10] riz-hossain opened #473 "Manage folder will not have any contol other than view. new div will allow you to manage folder"
create another div to manage folder

create, rename, delete option will be there to manage the folders.

no one has been able to fix the rename bug or lots of other bugs around that folder view

[2015-04-04 12:12] sazid commented on #473
Assalamualaikum. The bugs are certainly not that super hard to fix, its
just that, no one's been able to put enough time in it.

On Sat, Apr 4, 2015, 6:10 PM Riz Hossain <notifications@github.com> wrote:

[2015-04-04 23:47] riz-hossain opened #474 "when pass all is selected for test step, it takes way too long and there is no indication"
when pass all is selected, it should be fast
right now it takes over 1 minute

take a test case with 6-7 steps to reproduce

we should use the same method where we check a test case and select pass.  that one works fast

[2015-04-05 17:37] riz-hossain opened #475 "sub folders from different projects are showing up if parent folder name is same"
when creating test cases, if a parent folder is selected that is same as another projects, second level folders all show up.

[2015-04-07 23:43] riz-hossain opened #476 "Test case needs review tab"
Test case needs a review tab.

You will be able to assign the test case for review to multiple user.

When some one reviews, they will be able to approve it.

When a test case is assigned to someone, they will get email notification.

[2015-04-07 23:45] riz-hossain opened #477 "Test case detail tab should have owner option."
User will be able to select the owner of the test case.

[2015-04-07 23:49] riz-hossain opened #478 "Run deployment tab needs optional label field"
Request by new client

[2015-04-10 02:25] riz-hossain opened #479 "performance need to be improved for view folder and search test case page"
There must be something wrong with the query or the way we are doing this.  it takes over 6 seconds just to load 15 test cases.

result page does a lot more data fetching and calculation and yet that works a lot faster.

we need to find out whats causing the hold up and decide if we want to remove or modify it

[2015-04-16 09:50] minar09 opened #480 "JIRA Integration with projects"
@riz-hossain vai,

Server:
Hyperlink:
Username:
Password:
Application:

Five fields are inserted in UI for edit project. What's the diff between server and the hyperlink?

[2015-04-16 10:42] riz-hossain commented on #480
Server is for using the api configuration.  Sometimes they may have a different link than item ID link. Keep in mind that for each item type, you will need the same settings. I could be using jira bug and requirment or test case for some other software.  So for each you have to do their own. 

[2015-04-21 17:31] riz-hossain commented on #480
This is the code for JIRA detail .. we will have an option to "Get Detail".  It will basically display these core information.  I will return the same format for git as well.

from jira.client import JIRA

def Jira_Get_Open(jira_id_list, Jiraserver,JiraUser,JiraPass ):
    options = {'server': JiraServer}
    jira_api = JIRA(options, basic_auth=(JiraUser, JiraPass))
    jira_report = []
    for ea

[2015-04-30 21:03] riz-hossain opened #481 "Rally Integration"
For rally, we need few additional information.  It may apply to JIRA as well.  Please add these additional field.  Make it so that it can be optional

SERVER	Rally server (example rally1.rallydev.com)
USER	Rally subscription UserName value
PASSWORD	password for the Rally subscription UserName
APIKEY	Rally API Key value
WORKSPACE	Rally Workspace
PROJECT	Rally Project

[2015-05-01 07:50] minar09 commented on #481
APIKEY Rally API Key value
WORKSPACE Rally Workspace
PROJECT Rally Project

These three are new fields?

[2015-05-23 21:17] riz-hossain opened #482 "test set pagination # of item to display is missing"

[2015-05-23 21:25] riz-hossain commented on #479
Our target should be that we need to be able to load at least 100 test cases in less than 5 seconds.  We may remove some column based on performance.

@Taitalus  & @minar09  Why is result page loading so much faster compared to test case pages?  Result page needs a lot more data compared to test case.. and result page is more complex and requires a lot more calculation as well.  Maybe we need to f

[2015-05-23 21:29] riz-hossain opened #483 "loading icon for all the pages that we display test cases"
We need to add loading icon (not loading page image) for any action that takes more than 2 seconds.

During pagination, run deployment, saving test cases, generating report, or any other places, we should always put overlay loading icon.

icon:
http://jsfiddle.net/eys3d/741/
http://imgur.com/gallery/WDC3j18
http://codepen.io/scrapmac/pen/iKHun

reference:
http://www.jqueryscript.net/demo/jQuery-Pl

[2015-05-23 21:52] riz-hossain commented on #483
We can always shrink the gif image so that it doesnt take much loading time..
![oie_23234853jlqcpjho](https://cloud.githubusercontent.com/assets/5302523/7785862/69976c0e-0174-11e5-9206-d0981f2feb3e.gif)

[2015-05-24 00:26] riz-hossain opened #484 "offline machine are showing in deployment detail tab and schedule run"
under detail tab machine name.. it is showing all the machines.  It is supposed to show only the "on line" machine.

Same applies for schedule run

[2015-05-24 00:35] riz-hossain opened #485 "Move "Project" settings out to Admin page"
Except "Schedule Run" everything should be moved to project settings.

Deployment should be changed to "Execute"

Schedule Run:
Testing > Execute > "Schedule Run" (Second item)
and current run page should be:
Testing > Execute > "Run Now"  (First item)

[2015-05-24 00:41] riz-hossain opened #486 "Schedule run page should look same as normal run page"
should look like normal run pages.  It should only display test set name the way it is currently done.
instead of date picker it will have the schedule picker options and manage manual pc will be gone.

under available pc for schedule run, only automation PC should show.

![image](https://cloud.githubusercontent.com/assets/5302523/7786215/a5997262-018b-11e5-8a3e-ba4565360b3d.png)

[2015-05-24 00:44] riz-hossain opened #487 "Modify test step options: remove test data picker"
Remove test data picker so that any step can have data
only test with data will show green otherwise it will show grey (no more red)

[2015-05-24 00:55] riz-hossain opened #488 "Modify test step: Make all the drop down radio button with new style"
All the buttons in test step should be flip button with exception of selecting feature

[2015-05-24 00:56] riz-hossain opened #489 "Modify test step: Remove Automatable feature and combine content in "Test Step Type""
Remove the option "Test Step Type" and move the content to Test Step Type.

[2015-05-24 00:58] riz-hossain opened #490 "Test case save will do the calculation for test type"
When we save test case, we will do the calculation based on step and forced settings and store the type directly.

This will improve performance

[2015-05-24 01:36] riz-hossain opened #491 "Test Step update function should update all test cases type if needed"
ONLY if a step type is changed from "Something" to "Automated" it should look at all the test cases and see if this step was the last step that was not automated.  if it is the the only step that was not automated, then type of the test case should be changed.

[2015-05-24 10:54] Taitalus commented on #484
previously the requirement was to show all the machine that were in the database.

[2015-05-24 12:18] riz-hossain commented on #484
In available machine list yes. But when selecting the machine for run w need to show only machines that are available.

[2015-05-24 14:43] Taitalus commented on #484
I guess we were showing that only.                                                                                                                                                                                                                                                                                                                                        Raju Ahmed ShetuSoftware DeveloperAuto

[2015-05-24 14:49] riz-hossain commented on #484
Yes. We used to. Something changed and now we show all.  Again, we should show all in available but not in detail. 

[2015-05-25 04:21] Taitalus commented on #484
Yep. got it.

[2015-05-25 06:08] Taitalus commented on #482
Done.

[2015-05-26 04:50] riz-hossain opened #492 "When multiple folders are selected from sections, it is doing And query. It's used to do OR query"
When I select Two folders I get 0 test cases. I am supposed to get all test cases combine.

[2015-05-26 09:52] riz-hossain opened #493 "Copy test case shows duplicate folder path"
When copy is selected and try to change the folder path, it shows duplicate folder path

[2015-05-26 15:55] Taitalus commented on #493
I find no problem here. In my local it is working fine. Can you please give me  info how to re create it.?

[2015-06-02 18:24] Taitalus commented on #492
done

[2015-06-02 18:25] Taitalus commented on #490
done.

[2015-06-03 04:32] Taitalus commented on #493
I think this one should be off.

[2015-06-03 10:13] Taitalus commented on #489
don't understand the work here.

[2015-06-03 10:16] Taitalus commented on #484
done.

[2015-06-03 10:16] #484 closed

[2015-06-03 10:16] #492 closed

[2015-06-03 10:17] #482 closed

[2015-06-03 10:17] Taitalus commented on #479
improved a lot more I guess.

[2015-06-03 10:17] #479 closed

[2015-06-03 10:18] Taitalus commented on #470
done.

[2015-06-03 10:18] #470 closed

[2015-06-03 10:18] Taitalus commented on #475
done.

[2015-06-03 10:18] #475 closed

[2015-06-03 10:21] Taitalus commented on #474
I tested it with a test case having 5 steps.works all right now.

[2015-06-03 10:21] #474 closed

[2015-06-03 10:22] #468 closed

[2015-06-03 10:22] #490 closed

[2015-06-03 10:23] #349 closed

[2015-06-03 10:23] #353 closed

[2015-06-03 10:23] #359 closed

[2015-06-03 10:23] #360 closed

[2015-06-03 10:23] #366 closed

[2015-06-03 10:23] #375 closed

[2015-06-03 10:23] #378 closed

[2015-06-03 10:23] #379 closed

[2015-06-03 10:23] #380 closed

[2015-06-03 10:23] #381 closed

[2015-06-03 10:23] #382 closed

[2015-06-03 10:23] #388 closed

[2015-06-03 10:23] #389 closed

[2015-06-03 10:23] #394 closed

[2015-06-03 10:23] #395 closed

[2015-06-03 10:23] #399 closed

[2015-06-03 10:23] #400 closed

[2015-06-03 10:23] #401 closed

[2015-06-03 10:23] #404 closed

[2015-06-03 10:23] #425 closed

[2015-06-03 10:23] #427 closed

[2015-06-03 10:23] #429 closed

[2015-06-03 10:23] #430 closed

[2015-06-03 10:23] #432 closed

[2015-06-03 10:23] #433 closed

[2015-06-03 12:11] riz-hossain commented on #491
This o cannot be done before merging step type and automatable

[2015-06-03 23:08] riz-hossain opened #494 "dependency are not showing correctly on manage manual machine (create/edit)"
all dependencies should be showing up on manual machine

[2015-07-01 14:51] minar09 opened #495 "User created though passwords don't match"
"/Home/superAdminFunction/ListUser/"

User is being created even though given password and confirm password fields don't match. It shows error log for a sec, then user got created.

[2015-07-03 17:19] matariq opened #496 "execute button should be visible but disabled until all the required items are fulfilled."
Additionally  it should give notification like test case create about which fields are missing.

[2015-07-04 05:55] riz-hossain opened #497 "Label should show up as search method for test cases."
Currently label are not showing up during test case search filed options.

[2015-07-04 21:18] matariq opened #498 "Under Testing->Deployement->Test Set - once dependency is clicked it cannot be unclicked"
User should be able to click and on second click it should be de-selected.

Leads to bad user experience if user cannot unselect or clicks on dependency by mistake

[2015-07-04 21:23] matariq opened #499 "Under Testing->Deployment->Detail - run objective should show outside the drop down box (like all the others)"
We should be consistent with our UI

[2015-07-04 21:30] matariq opened #500 "Testing->Test Cases->Set- Add/Remove test cases by searching should be same as the other search boxes with dropdown & select option"
.  it should have a drop down option like the other search boxes

We should be consistent with our flow
This will also lead to better user experience as user can just select the test cases from drop down

[2015-07-04 21:31] matariq opened #501 "Switching between projects always asks for default project."
Default should only be set by going to user's profile option.

[2015-07-04 21:37] matariq opened #502 "Milestone->Create/Edit - Milestone on create page shows milestone from other projects."
. it should be filtering based on current project and team
. also I should not be able to view milestones for projects I am not part off

[2015-07-04 21:39] matariq opened #503 "Milestone->Create/Edit - Milesone create page does not provide any feedback and doesnt show wich fields are required"
. This will lead to better User Experience just like when creating test case I get a warning for verification step missing etc

[2015-07-04 21:41] matariq opened #504 "Testing->Deployment->Manage Manual Machine-Without branch I cannot create a Manual Machine"
- on manual machine i dont have any branch created.  i shouldnt have to create any branch if i dont want to.  Currently without creating any branch, i cannot create a manual machine.

[2015-07-04 21:44] matariq opened #505 "Testing->Deployment->Manage Manual Machine-Without dependency I cannot create a Manual Machine"
without creating any dependency, i couldnt create a manual machine.
so i couldnt run anything.

[2015-07-04 21:46] matariq opened #506 "Empty string dependency name was accepted."
User should not be allowed to enter empty string.

[2015-07-04 21:46] matariq opened #507 "Manual machine with empty name should not be accepted"
User should not be allowed to create a machine with empty string

[2015-07-04 21:48] matariq opened #508 "Testing->Results&Execution->Run ID->Detail Tab should also have starting and end time of the test session."

[2015-07-04 21:58] matariq opened #509 "Testing->Results&Execution->Run ID->Click on test step to see the log of the step-Popup Window is hidden by top bar"
![screen shot 2015-07-04 at 5 56 35 pm](https://cloud.githubusercontent.com/assets/13080536/8509538/33f04a08-2276-11e5-834b-415bee499c14.png)

[2015-07-04 22:00] matariq opened #510 "Logs for Test Step should mention log"
Testing->Results&Execution->Run ID->Click on test step to see the log of the step-Popup Window the title of the pop up should mention that it is a log window somewere

[2015-07-04 22:01] matariq opened #511 "Send email did not work for particular email address"
Working fine with gmail

[2015-07-04 22:05] matariq opened #512 "Manage->Label->Search-Creating lable does not provide any feedback that it was created"
Ended up clicking more than once as it created duplicate labels.

Should have some kind of feedback to provide better user experience

[2015-07-04 22:07] matariq opened #513 "Manage->Label->Search-Created duplicate labels"
duplicate labels should not be allowed

[2015-07-04 22:20] riz-hossain commented on #513
this should be completed at the same time when you change the label as similar design as test case create/edit.

when edit is selected, make sure the same box can be used to update the title or name of the label

[2015-07-04 22:23] riz-hossain commented on #512
this should be fixed with the same changes in label

[2015-07-04 22:25] riz-hossain commented on #511
thats an odd one.. lets do this later ... first lets fix up all the ui for the framework

[2015-07-04 22:26] riz-hossain commented on #510
make sure for the title you add log

[2015-07-04 22:38] riz-hossain commented on #506
there are still lots of bugs in this area.  make sure you fix all the other bugs as well.

when deleting an item it says there are two items, but doesnt list them in div below

[2015-07-04 22:39] riz-hossain commented on #505
creating machine and updating still has all this bug???

[2015-07-04 22:40] riz-hossain commented on #504
make sure all these bugs are solved quickly

[2015-07-04 22:43] riz-hossain commented on #501
- this is an annoying bug and should not be there ...
only if default value is not save, we should do this prompt,  if default value exists, we shouldnt prompt

[2015-07-04 22:48] riz-hossain commented on #499
we need to make sure run obective has its own page to create and manage.  right now run objective cannot be edited.

it shoud be same as label or milestone.  to create a new objective, we should add a small button with new and tool tip that says create new objective.

once user clicks .. it will pop up with option for them to create a new tab to go to the page.  once they do, it should take them t

[2015-07-04 22:49] riz-hossain commented on #498
this is a lower priority

[2015-07-06 08:52] riz-hossain opened #514 "for any fields that can create a new item should have a direct link icon."
Example, label is a field that you need to create to add a new one.. we need to have an icon beside it that will automatically take us to the create label view.  it should always open a new  browser tab or a rich pop up window where all the content would be shown...

this feature is important mainly because it will guide new users using our product.  also it will optimize the flow.

[2015-07-06 17:43] Taitalus commented on #496
Done. But the button is not disabled from the beginning but it give notification if any required fields are missing.

[2015-07-06 17:47] Taitalus commented on #501
Actually what we had done there was..
several teams work in a projects. so when the project is changed then the default value for team is removed as that team might not be in the new project. For this reason it is kept.

[2015-07-06 19:09] riz-hossain commented on #501
Default is different than just trying other projects When I set default it means no matter which proejct I had selected last, if I sign out and sign back in, I will see my default. If I just want to switch temporary, then I shouldnt have to change my default.  

[2015-07-06 19:11] Taitalus commented on #509
@minar09  can you see this one please.?? I have searched but came up with nothing.

[2015-07-07 17:38] minar09 opened #515 "Test case list need to be done in step based report"
also pagination in the same way as the other page ui

[2015-07-07 19:28] minar09 commented on #509
what's wrong here? empty pop up?

[2015-07-08 11:53] Taitalus opened #516 "General driver is to be wriiten"
General functionalities will be written here.

[2015-07-08 11:56] Taitalus commented on #516
@riz-hossain I have told him what will be the type of work here. Please add anything you seem needed.

[2015-07-08 11:58] Taitalus commented on #509
Nope . click the pop up .and resize the window. Make it smaller. Then you can see.

[2015-07-08 12:41] riz-hossain commented on #509
On mobile you cannot do it. Also by default it shouldn't....i have seen other pop up a where the background becomes gray and you cannot access anything.   Why can we not make the tool bar go behind the pop up window. The over all feeling is not professional..

[2015-07-08 12:46] riz-hossain commented on #516
Tariq, start your work on it a little later. I want your testing knowledge to be a little more solid. Please finish the test case title creation first as assigned. You need to first pick an area from your test plan and create folder. Then create just test case title.  Once you do that, then I will seat with you to go over the areas you have missed and how to do this part.   Then we will work on th

[2015-07-08 15:55] Taitalus commented on #501
Vai that is the way we have done this far, if we want to change it,it will be a long job.. okay??

[2015-07-08 17:49] riz-hossain opened #517 "Not able to remove a label from test case"
instaed of uncheck box, we should put a cross or delete icon beside it.  try to find a better alignment for the label.. it looks a little off

[2015-07-08 19:15] Taitalus commented on #501
@tariquesiddique check this.

[2015-07-08 19:18] Taitalus commented on #498
@riz-hossain I think this is okay. because as the dependency is a required field so you might not unclicked it but you can easily change the option you want to use.

[2015-07-08 20:19] riz-hossain commented on #498
Much better. Also like the notifications to warn the user.                                                                                                                                                                                                                                                                                                                                          Sent from my

[2015-07-08 20:44] riz-hossain commented on #498
I replied to the wrong tickets.

How difficult would it be to undo the click selection?   If it doesn't need a lot of work, let's do it. I have seen few people trying to do it.

When you selected you test cases and sometimes after selecting your dependency, you wan to see which test cases were removed. Right now you have to re-enter your query.

[2015-07-08 22:01] riz-hossain opened #518 "step type name change for manual steps"
Currently we have "Easily Automatable" it should be "Manual-Easily Automatable"
this applies to all the manual step type

[2015-07-09 08:48] riz-hossain opened #519 "Admin site does not work on mobile"
Can you fix this one?

[2015-07-09 08:51] riz-hossain opened #520 "Admin site is accessible by any user"
And this one... these are supper critical bugs

[2015-07-09 08:56] Taitalus commented on #494
can you please close that. ?? I have done it in the new way.

[2015-07-09 08:56] #398 closed

[2015-07-09 08:58] riz-hossain commented on #494
Tag everything as done that's done. If anything you did but not tested, assign to Tarique.  

[2015-07-09 08:59] #467 closed

[2015-07-09 08:59] #465 closed

[2015-07-09 10:40] #434 closed

[2015-07-09 17:13] Taitalus commented on #485
Done works.
1. put the schedule run and run test under the execute dropdown.
2. Move Manage Team, Setup Email link from project to the Project Setting dropdown.
3. Updated the url for the project change.
So if you are in url like this.
/Home/PROJ-17/SetupEmail/
and you switched from 'PROJ-17' to 'PROJ-19' then it will update the url like this.
/Home/PROJ-19/SetupEmail/
4. Moved project settings un

[2015-07-09 22:20] riz-hossain commented on #485
you havent moved anything to admin page.  all the project related settings
should be moved to admin page...

all these three must be moved to admin page.
http://demo.automationsolutionz.com/Home/PROJ-21/ManageTeam/
http://demo.automationsolutionz.com/Home/PROJ-21/SetupEmail/
http://demo.automationsolutionz.com/Home/ManageProject/

On Thu, Jul 9, 2015 at 1:13 PM, Raju Ahmed Shetu <notifications@git

[2015-07-09 22:23] riz-hossain opened #521 "step in test case create needs the stanard drop down search"
this is an important one as well... people feedback has been that we should use the drop down for step.

[2015-07-10 06:27] minar09 opened #522 "Main menu vanishes off sometimes upto half or less"
![image](https://cloud.githubusercontent.com/assets/3684134/8613249/b612b48a-26fe-11e5-9e52-d7a4e9b6049b.png)

![image](https://cloud.githubusercontent.com/assets/3684134/8613271/f04830c6-26fe-11e5-8c4c-72f836087bbb.png)

[2015-07-10 06:32] riz-hossain commented on #522
Wow. I have never seen this before.                                                                                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartpho

[2015-07-10 09:36] sazid commented on #473
In the main server, I can confirm that none of the features: `New Folder`, `Create`, `Rename`, `Delete`, etc. are working as expected. When I do any of the actions, it shows that it executed the action successfully but, nothing changes. Even a full refresh reveals no change.

[2015-07-10 09:48] #454 closed

[2015-07-10 09:53] #253 closed

[2015-07-10 17:17] riz-hossain opened #523 "Task, Req, Bug create/edit should be same as test case"
Please use the same drop down as test case create/edit for all the other.

[2015-07-11 05:06] matariq commented on #511
Actually gmail didnt work either - need to figure out why the report was not send to more than one user.

[2015-07-11 05:16] matariq opened #524 "Task -> Create/Edit -> Assigned User - Users are being duplicated"
Need to know why some users are being duplicated.

We should not have any duplicates here!

[2015-07-11 05:16] matariq opened #525 "Task -> Create/Edit -> No priority for task"

[2015-07-11 05:18] matariq opened #526 "Task -> Create/Edit -> Unable to create task until milestone & feature were added"
No feedback on what was missing - leads to bad user experience.

Once all fields were set, I was able to create a new task

[2015-07-11 05:20] matariq opened #527 "Task -> Assign To Me - Not working"
Great feature for filtering any tasks assigned to me - we should get this working

[2015-07-11 05:23] matariq opened #528 "Task ID Number should be independent of project and not global"
For example Create a new task for a new project

Task ID should be "TASK-00" not "TASK-53"

[2015-07-11 05:26] matariq opened #529 "Task -> Create/Edit -> Discussion - Should have discussion board or notepad type feature"
Great feature - we should have efficient method for users to communicate with each other or add notes

[2015-07-11 05:29] matariq opened #530 "Requirement -> Create/Edit -> Milestone - Milestone should only relevant milestones"
Right now I can see milestones for other projects

It should only display milestones for selected project just like Task

[2015-07-11 05:36] matariq opened #531 "Requirement -> Create/Edit -> Description - There is a text limitation"
Very interesting bug - took us a while to figure out what was going on.

If we put a lot of text in description - we are unable to save the requirement. So 2 closely related issues

1. Why is there a text limit? We should not have a limit
2. If there is limitation we should at least notify the user why

[2015-07-11 05:39] matariq opened #532 "Requirement -> Create/Edit -> Assignment - should there be a field for this?"
I think there should be...we should be able to assign requirement to another user

[2015-07-11 05:41] matariq opened #533 "Req ID Number should be independent of project and not global"
For example Create a new task for a new project

Task ID should be "REQ-00" not "REQ-90"

[2015-07-11 05:42] riz-hossain commented on #531
By default in db we have to give a limit of char. I think we need to come up with a acceptable limit size for this.  Would having about 5 pages be enough?   And yes, we need to give a warning and feed back for anything of this type. 

[2015-07-11 05:45] matariq opened #534 "Task -> Search - Should be an option of copying a task like TC"
This would really improve user experience when creating task.

When creating task most options are usually the same - creating new task every time is a pain

we need to add "pencil" and "copy" button on the side like TC to keep it consistent user experience

[2015-07-11 05:46] matariq opened #535 "Requirement -> Search - Should be an option of copying a task like TC"
This would really improve user experience when creating requirements.

When creating requirements most options are usually the same - creating new task every time is a pain.

we need to add "pencil" and "copy" button on the side like TC to keep it consistent user experience

[2015-07-11 05:49] riz-hossain commented on #532
The way we are looking at requirement is ask for what you want. Tasks will be eventually linked to the requirement. So a single requirement will have multiple tasks.  But every item should have an owner... a requirement in our world would probably own by the development team lead. The progress of requirement would however will be automated. It will depend on all the tasks that would be created und

[2015-07-11 05:53] matariq commented on #531
5 pages should be more than enough. right now i came across this with about 10 lines

[2015-07-11 06:34] matariq opened #536 "Requirement/Task -> Search - How can I edit/delete a task/requirement"
Just like TCs - I should be able to edit/delete Requirement/Task

[2015-07-11 06:40] matariq opened #537 "Requirement/Task -> Search - Minor View Changes"
List View alignment should be more consistently. This will be a lot more easier on the eye

For example,
Gap between "Starting Date" & "Due Date" more than it should be
Gap between "ID" & "Title" more than it should be

Finally in list view "Assigned User" would be really useful

[2015-07-11 06:49] riz-hossain commented on #536
Deleting requirement ,task, bug could have a complex implication. Normally in other tools they don't allow deleting it... MKS or jira, you cannot permanently delete something. By default we were gonna hide the completed requirements.  ‎ Or maybe we can create a field "de-scoped"? We will be adding similar filter that you see in result page of test case execution. So you will be able to create your

[2015-07-11 07:01] riz-hossain opened #538 "UI changes for linking components and the view"
for linked items,  we will have the exact same view as execution page of a runid
http://demo.automationsolutionz.com/Home/RunID/Sun-Jun-28-11:38:21-2015/

make sure pagination and display per page is added.  make sure search and filter options are there.

if you want to add/remove item, we will have the exact view as test set add/remove view.  there will be a button at the top right of the tab ..

[2015-07-11 07:01] matariq commented on #536
I see what you mean why deleting should not be an option.

But can we add "pencil" and "copy" button on the side like TC to keep it consistent user experience?

[2015-07-11 07:03] riz-hossain commented on #536
Yes. That we should definitely do. I am not sure if you created a task for that. If not please create one and we can close this ticket.  

[2015-07-11 07:06] matariq commented on #536
Closing Ticket

[2015-07-11 07:06] #536 closed

[2015-07-11 07:06] minar09 commented on #538
LInking UI for all components? in respective tabs?

[2015-07-11 07:09] matariq commented on #496
This looks much better now!

[2015-07-11 07:10] riz-hossain commented on #538
Yes. So if I am creating a task. I go to test case tab. Then I will see a filter bar and below that I will see all the test cases that are linked. If I want to remove or add.. I will click on add/remove. It will take me to test set add/remove page view. . When I click done... I should be back to Linked item view.  If I go to requirement tab, I will see related requirements and so on....

[2015-07-11 07:11] riz-hossain commented on #496
It's done yet :)Shetu us making it even a little better...                                                                                                                                                                                                                                                                                                                                        Sent from my B

[2015-07-11 07:36] riz-hossain opened #539 "search view for req, task, and bug should be identical to test case search"
please follow identical format as test case search:

we will eventually change the way we do search ..we will change the search option as result page where we have the side drawer....

if you can do the side drawer that is better .. we can maybe change the test case search instead....

the main reason is with side drawer we can add additional features like saving default query .. or add the functi

[2015-07-11 13:04] riz-hossain opened #540 "in test case search, i cannot search by label"
Minar, i cannnot search test cases on any search option... i hope its a single global function and you dont have to go to each ones ...if that is the case .. make sure execute and set pages are done first and then keep this ticket open until all the other ones are solved.

[2015-07-11 13:08] riz-hossain opened #541 "font and bold is not done properly in the search test cases drop down"
type should be bold and slightly larger than actual title of item.

for example:

Regression testing - Folder

"Folder" should be slightly larger font and bold.

[2015-07-11 13:16] riz-hossain opened #542 "run page fine detail"
<img width="960" alt="moving run page around a little" src="https://cloud.githubusercontent.com/assets/5302523/8633860/8b7bacd6-27ad-11e5-936a-f19495a32bcf.png">

[2015-07-11 13:22] minar09 commented on #540
In which page ‎is it happening?                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone.

[2015-07-11 14:31] riz-hossain commented on #540
All the pages that we can search test cases.  Look at execute page and test set page first (add/remove)

[2015-07-13 01:38] riz-hossain opened #543 "By default all project and team should have Manual as driver"
I couldn't update test case because driver was not created.

I thought we fixed this already. I think this needs to be done in a hard code in the framework.

Or when a new team is created, we should be default create a driver called "Manual"

[2015-07-13 01:43] riz-hossain opened #544 "Move steps out from test cases to testing."
Steps usually gets used a lot and because it's hidden under test cases it's not obvious.

People are not using the steps feature much so we need bring it up in the front.

[2015-07-13 03:12] matariq opened #545 "Test Step - Cannot add Test Step to start of test case"
This will be a really cool feature if user can drag to change the position of test step in a test case

The problem I ran in to was I could not add test step to start of test case i.e before Test Step 1

[2015-07-13 03:14] matariq opened #546 "Requirement -> Create/Edit - Milestone not showing in drop down menu"
Cannot create requirement as milestone not showing

[2015-07-13 03:22] matariq opened #547 "Duplicate of Test Steps"
In Network Testing project

Test Step "Confirm DUT is connected" is duplicated 3 times.

Test step should not be duplicated with the same name

[2015-07-13 03:28] matariq opened #548 "Test Step A Verification button flipping Test Step B Verification button"
I am unable to reproduce this issue now

Test Step 16 Verification button was changing Test Step 12 Verification button under Network Testing Project - TC NWT-004

This should be kept open to catch this bug.

[2015-07-13 03:58] riz-hossain commented on #548
We had a lot of bugs in past life about stuff getting lost. Shetu has added a lot of rigorous verification methods to eliminate that.  So it's a little odd seeing this resurface.  One thing to keep in mind that since we are changing the ‎framework continuously, it's good to clear your browser cash file when you see these type of issues. .js files can be stale at times. In production, this shouldn'

[2015-07-13 05:24] riz-hossain commented on #547
That's really strange... how is it possible? Once you create a step, as you type, it should just come automatically and you should be able to just select it right? Unless! You created the test case for the very first time and in that test case you used new steps name twice... that might result in that.  So solution would be that before we create a step, we need to verify that same step does not ex

[2015-07-13 05:35] riz-hossain commented on #545
I am a little confused with the ask.

We can certainly add the feature where you can move around step by dragging (similar to how we have set - where we can reorder test cases).

I am not sure if that is your ask. If that's the main ask, can you please change the title to "Re-order test steps by drag-drop".

But if not, can you please elaborate a little more about the ask?

[2015-07-13 05:38] riz-hossain commented on #496
Shetu, please make sure the next button location is changed to top of the page inside the gray box. Same with back. Also change the text as we talked.

[2015-07-13 05:44] riz-hossain commented on #533
I am not sure if it is currently based off global project.

One option we can do is add prefix of the project and team... then add the ID. This would make it unique and easy to track as well. Just like test cases

[2015-07-13 05:48] riz-hossain commented on #530
Please confirm and close

[2015-07-13 05:49] riz-hossain commented on #529
Shetu had the discussion done. I think project settings has this page. You can talk to him to clear things out.

[2015-07-13 05:51] riz-hossain commented on #528
Same as others.. we may need to add some additional prefixes to separate between project

[2015-07-13 05:52] riz-hossain commented on #527
This was actually a place holder... this feature will be added once all our critical bugs and features are resolved.

[2015-07-13 05:57] riz-hossain commented on #507
Please confirm and close

[2015-07-13 05:58] riz-hossain commented on #506
Please confirm and close

[2015-07-13 05:59] riz-hossain commented on #505
Please confirm and close

[2015-07-13 06:00] riz-hossain commented on #504
I couldn't create manual machine until I had branch and dependency created.

[2015-07-13 06:01] riz-hossain commented on #503
Please confirm and close

[2015-07-13 06:02] riz-hossain commented on #502
Please confirm and close

[2015-07-13 06:03] riz-hossain commented on #501
Please confirm and close

[2015-07-13 06:04] riz-hossain commented on #500
Please confirm and close

[2015-07-13 07:10] minar09 commented on #546
Is there milestone created for that team and project?

[2015-07-13 07:14] minar09 commented on #526
feedback error messages added.

[2015-07-13 07:15] minar09 commented on #525
added. please check.

[2015-07-13 09:08] minar09 opened #549 "Requirement/Task->Create/Edit->Linking test cases UI-> pagination plugin not working as expected"

[2015-07-13 09:25] riz-hossain opened #550 "Run session data"
Add a field during execution where user can add run time data.

This data will be passed to each step just like we pass the dependency.

the data will be a single field and must be able to accept /-:;'"#$|<>% or similar characters.

These data will be managed on a different page.

[2015-07-13 09:41] riz-hossain opened #551 "Label should be passed to step"
Labels for each test case should be passed to each step.

It can be used as a global step data if needed.

So a test step will get: dependencies, step data, run session data, and label.

[2015-07-14 04:41] matariq commented on #546
Yes - Project: Network Testing and Team: Core Team - there is a milestone 'NWT: Pre - Demo'. This milestone is showing if I try to create a Task but not when creating Requirement

[2015-07-14 04:42] matariq commented on #545
. That is exactly what the ask is. We want to be able to re-order test step by drag-drop
. Right now there is no way to add Test Step 0 if Test Step 1 is created
. Updating title

[2015-07-14 05:16] minar09 commented on #546
I can see milestone in my end, even in demo server logged as you.
![image](https://cloud.githubusercontent.com/assets/3684134/8666891/85935ad0-2a19-11e5-8afb-d952743ab138.png)

![image](https://cloud.githubusercontent.com/assets/3684134/8666921/c4e6bd9e-2a19-11e5-878d-e2e2123a19ea.png)

![image](https://cloud.githubusercontent.com/assets/3684134/8666900/9f24748e-2a19-11e5-8af6-36a390a49bad.png)

[2015-07-14 10:03] minar09 commented on #547
Please check now!

[2015-07-14 12:30] minar09 opened #552 "Test case searched by label gives error after deployment"
also it does not show all test cases when a label is selected in test case search.

[2015-07-14 12:39] riz-hossain commented on #548
Shetu,This is a critical bug. Fix this asap please.                                                                                                                                                                                                    Sent from my BlackBerry 10 smartphone on the TELUS network.

[2015-07-14 12:42] riz-hossain commented on #552
This is a critical bug and needs to be fixed Asap

[2015-07-14 12:43] riz-hossain commented on #546
This might be cash related issue. Please clean browser cash, and re-try.

[2015-07-14 16:31] Taitalus commented on #552
Found the bug. Minar you didn't save the label in test case tag table.all
my search for test cases are coming from the test case tag table. You label
is saving its linking with test cases in the label map.so please do change
the search function accordingly.
On Jul 14, 2015 6:42 PM, "Riz Hossain" <notifications@github.com> wrote:

[2015-07-14 16:57] riz-hossain commented on #552
Labels are generic now. Label goes to all components so they should be stored separately. 

[2015-07-15 00:05] riz-hossain commented on #547
Please verify and if possible outline how it was reproduced

[2015-07-15 00:08] riz-hossain commented on #526
please verify and close

[2015-07-15 00:08] riz-hossain commented on #525
please verify and close

[2015-07-15 01:56] matariq commented on #530
Verified - Create Requirement -> shows milestone only for relevant project

[2015-07-15 01:56] #530 closed

[2015-07-15 01:58] matariq commented on #526
Verified - feedback works now

[2015-07-15 01:58] #526 closed

[2015-07-15 01:58] matariq commented on #525
Verified - Task has priority now

[2015-07-15 01:58] #525 closed

[2015-07-15 02:00] matariq commented on #518
Verified Test Step now has Manual before type

[2015-07-15 02:00] #518 closed

[2015-07-15 02:01] matariq commented on #513
Verified - can no longer create duplicate labels

[2015-07-15 02:01] #513 closed

[2015-07-15 02:36] matariq commented on #547
I cannot reproduce it but if you go in Network Testing project - Test Step "Confirm DUT is connected" is duplicated 3 times.

Can you please remove the duplicate 2 for now?

[2015-07-15 02:38] matariq commented on #510
Verified

[2015-07-15 02:38] #510 closed

[2015-07-15 02:48] matariq commented on #506
Verified - Dependency name cannot be empty now

[2015-07-15 02:48] #506 closed

[2015-07-15 03:03] matariq commented on #505
Verified

[2015-07-15 03:03] #505 closed

[2015-07-15 03:05] matariq commented on #507
Verified

[2015-07-15 03:05] #507 closed

[2015-07-15 03:07] matariq commented on #546
Verified - working now. Needed to clear cache

[2015-07-15 03:07] #546 closed

[2015-07-15 03:08] matariq commented on #501
Verified

[2015-07-15 03:08] #501 closed

[2015-07-15 03:10] matariq commented on #500
Works!

[2015-07-15 03:10] #500 closed

[2015-07-15 03:11] matariq commented on #502
Looks good!

[2015-07-15 03:11] #502 closed

[2015-07-15 03:11] matariq commented on #503
Verified

[2015-07-15 03:11] #503 closed

[2015-07-15 03:18] matariq opened #553 "Testing -> Execute -> Run Now -> Available Machine -> Create or Edit - Feedback notification location"
Notification is half hidden

[2015-07-15 03:20] matariq opened #554 "Testing -> Test Steps-> Set -> Create or Edit - Feedback notification location"
Notification is half hidden

[2015-07-15 03:30] matariq opened #555 "Testing -> Result & Execution -> Run ID -> Test Case -> Test Step Logs - Log window hidden behind main bar"
Minor bug -
![image](https://cloud.githubusercontent.com/assets/13080536/8690267/3793e43c-2a80-11e5-8b9c-0a9fc405707b.png)

[2015-07-20 20:50] minar09 opened #556 "Add new column in table for test cases list- last Execution Result"
Clicking on this column data may take you to the run detail page.

[2015-07-24 06:00] tariquesiddique commented on #409
We can rename a test case. But it will be better if a rename option is given.

[2015-07-24 12:48] riz-hossain commented on #409
When edit is selected, the display in drop down should say it "rename when a new title is given"

[2015-07-29 06:01] riz-hossain opened #557 "unable to save test case when same label is selected twice"
-same label should not be allowed to add twice.
- when same label is added twice, test case doesnt get saved

we should not allow users to select same label twice.

[2015-07-29 06:02] riz-hossain opened #558 "unable to remove a label for test case"
- i unchecked a label and tried to save the test case... label does not get removed

[2015-07-30 04:30] matariq opened #559 "Floating button Font on home page is too small."
should be same font as Requirement/Task page

[2015-07-30 04:32] matariq opened #560 "Home Page Dashboard -> Requirements Chart typo"
Should be Requirements instead of 'Reuirements'

[2015-07-30 12:42] riz-hossain commented on #560
Should be a quick fix... so please fix the spelling error

[2015-08-05 02:27] riz-hossain opened #561 "Delete test case is not working"
- It should be same view as search test cases with delete button on the side

[2015-08-08 01:31] matariq opened #562 "Testing -> Result & Execution should move under reports"
Right now our Testing Reporting is all over the place we should consolidate it

[2015-08-08 01:36] matariq opened #563 "Testing -> Clean up of Run History should move under either execute or reports"
We should move it to a place where it fits better

[2015-08-08 05:16] matariq opened #564 "Testing -> Execute -> ScheduleRun - Test Objective info should appear on the side just like Tester/Email/Milestone etc"
We need to be consistent in our User Experience

[2015-08-09 05:33] riz-hossain opened #565 "Milestone is not displaying properly with : in results/exection page"

[2015-08-09 05:34] riz-hossain opened #566 "when machine are in use it shows offline. It should say in use"

[2015-08-09 05:36] riz-hossain opened #567 "Step data are not showing in step data tab"
i think it broke after you add the step status changes.

if i go to an older project with older steps, i can see data...  under "Step Data"

its also not showing under execution page.

[2015-08-09 05:45] riz-hossain opened #568 "Report based on feature"
we should have features option in the report.

[2015-08-09 05:48] riz-hossain opened #569 "when I update an offline automated machine it is becoming avaliable as an automated machine"
it should not be editable.

[2015-08-09 05:52] riz-hossain opened #570 "task, bug, requirement, test cases unlinked information"
currently I cannot see all the requirements that are not linked to any test cases.

I should be able to search for all requirements that has no linked test cases.

This concept applies to all the other components.

This should be a filter options on search slider

[2015-08-09 06:27] riz-hossain commented on #250
have a look at these help examples

[2015-08-11 01:51] matariq opened #571 ""Atleast one verification point must be part of test case" Error when deleting step"
Take Test Case with multiple steps and verification points

Delete Test Step from middle of test case

Save Test Case

Test Case gives above error although it has a verification point. - TC cannot be saved

This is not a cache related issue.

[2015-08-11 02:03] riz-hossain commented on #571
If this is reproducible, then it becomes a critical issue.
@Taitalus make sure this is solved asap along with few other bugs you found on test case create.

[2015-08-11 02:13] riz-hossain commented on #571
- Currently not reproducible

[2015-08-11 02:18] riz-hossain commented on #564
objective needs a new page to manage (create/edit/delete)

[2015-08-11 02:26] riz-hossain commented on #571
steps to reprod
- Set VP as the last test case
- Edit the test case and remove any step above the last step that has the VP
- Try to Save

[2015-08-11 02:27] riz-hossain commented on #563
Done

[2015-08-11 02:27] #563 closed

[2015-08-11 02:27] riz-hossain commented on #562
Done

[2015-08-11 02:27] #562 closed

[2015-08-11 02:35] riz-hossain commented on #554
- Add desktop notification

[2015-08-11 02:38] riz-hossain commented on #553
Flow is not good as well.  We should be doing this in a div

[2015-08-11 02:42] riz-hossain commented on #451
Not going to change for now

[2015-08-11 02:42] #451 closed

[2015-08-11 03:11] minar09 opened #572 "Milestone in results table is not coming with full string"
after semi colon

[2015-08-12 02:49] minar09 opened #573 "Show task completed in percentage and in days/hours"

[2015-08-12 02:50] minar09 opened #574 "Implementation of help document"

[2015-08-12 03:05] adeelrehman007 opened #575 "Create/Modify Bug->Test Cases->Linked Test Cases: Only Test case Title displayed"
The rest of the columns (Features, Section, etc)  are empty (not imported).

[2015-08-12 03:11] adeelrehman007 opened #576 "Create/Modify Bug->Test Cases->Linked Test Cases: Column name not consistent"
Column name should be '"Folder" and not "Section". Not consistent with the column name within the Copy/Edit Test Case page

[2015-08-12 10:03] minar09 commented on #543
Shouldn't test step created on the fly using driver "Manual" rather than "webDriver"?

[2015-08-12 13:37] riz-hossain commented on #543
yes

On Wed, Aug 12, 2015, 6:03 AM Matiur Rahman Minar <notifications@github.com>
wrote:

[2015-08-14 04:16] m3thun commented on #576
@riz-hossain What should be the priority for this and who should this be assigned to?

[2015-08-14 04:17] riz-hossain commented on #576
please set as low priority and assign to minar

[2015-08-15 04:01] matariq commented on #548
Finally managed to reproduce this issue :) This is closely related to "issues 571"

For quick Reference "Network Project -> Call Forwarding" Test Case

Pick a Test Case with last step as VP True
Edit the test case and remove any step above the last step
Add another "New Last Test Step" at end of Test Case now
Click on VP for "New Last Test Step"
Be Amazed!

[2015-08-15 16:52] adeelrehman007 opened #577 "Re-run Test Case does NOT use new/updated test case steps"
Steps to reproduce:
- Create automated test case with one step (For example: Start Browser)
- Run Test Case
- Once execution finishes, go to test case and change step to a different step (For example: Start Chrome)
- Go to Testing->Run->Execute & select previous run of same test case
- Re-run test case

The initially configured test step (i.e Select Browser) is still used. A new test execution run

[2015-08-15 17:01] adeelrehman007 opened #578 "ASGUI.py restart required after changes made to Driver"
- Make change to any existing Driver (for example: change function name)
- Update test step/test case to reflect changes made to Driver (for example: use the new function name)
- Run test case

Will not work until ASGUI.py is restarted on the test machine. Once restarted, the changes take effect!

If this is a necessary process for the Framework, then there needs to be a way a tester can remotely

[2015-08-15 19:59] riz-hossain commented on #577
This is by design.  We want to preserve re-run data that was used during the first run.

Normally this is needed when you are developing test cases.

When you are developing test cases it's best to run locale.

Will explain in user manual.

[2015-08-15 19:59] #577 closed

[2015-08-16 13:54] riz-hossain commented on #578
This is expected for any python files as the pyc files are compiled on the fly.

However,  we should be able to clean up the pyc every time handle is given over to main driver.

When the handle is given to main driver....  Other sub drivers pyc files should be inactive and we should be able to delete them without any issue.   This will always force python to recompile on the next run with new chan

[2015-08-17 12:22] m3thun commented on #575
@riz-hossain Please assign Category and Priority to this ticket. Thanks!

[2015-08-17 12:24] m3thun commented on #572
@minar09 Please give us an update of this ticket. This needs to be addressed soon as this one has the highest priority. Thanks!

[2015-08-17 12:26] minar09 commented on #572
I submitted fix for this bug few days ago.                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 sma

[2015-08-17 12:26] m3thun commented on #567
@minar09 This high priority bug must be fixed asap! Please give an update on this. I could see you started working on it 5 days ago. Thanks!

[2015-08-17 12:28] m3thun commented on #571
@Taitalus What's the update on this, Shetu?

[2015-08-17 12:29] minar09 commented on #567
I submitted fix for this too.                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone.

[2015-08-17 12:30] riz-hossain commented on #572
Thanks. I guess tags weren't updated to be done.   That's why I didn't pull yet. I will pull and update.

[2015-08-17 12:30] m3thun commented on #572
@riz-hossain Please verify and close this ticket. Thanks!

[2015-08-17 12:35] m3thun commented on #561
@Taitalus Did you fix this bug? Please provide with an update. Thanks!

[2015-08-17 12:37] m3thun commented on #560
@riz-hossain Please update the status this ticket. This one has both "Started" and "Done" tag.

[2015-08-17 12:39] m3thun commented on #552
@Taitalus This highest priority bug is more than a month old. Please address this issue soon after your exam ends. Thanks!

[2015-08-18 00:35] matariq opened #579 "404 Error when user changes a project"
Click on name right hand corner
Click on Team & Project
Change project

Page not found (404)
Request Method:	GET
Request URL:	http://demo.automationsolutionz.com/Home/User/PROJ-25/PROJ-25HPROJ-25oPROJ-25mPROJ-25ePROJ-25/PROJ-25UPROJ-25sPROJ-25ePROJ-25rPROJ-25/PROJ-25
Using the URLconf defined in WebServer.urls, Django tried these URL patterns, in this order:
^$
^Home/$
^Home/Dashboard/$
^Home/User

[2015-08-18 01:00] adeelrehman007 opened #580 "Create Requirement -> All Label tags appearing"
New Project defined
Create new requirement
Under Labels: Labels form all projects appearing

Should be specific to the project

[2015-08-18 01:02] adeelrehman007 opened #581 "Create Requirement->Define sub-Feature"
During creating requirement, set sub feature
Save requirement
Sub feature disappears

[2015-08-18 01:07] adeelrehman007 opened #582 "Create Task ->Assigned User : User experience different from Create Requirement"
Should be the same as in Requirement page

[2015-08-18 01:10] m3thun commented on #579
@riz-hossain Who should this bug be assigned to? Please also set the priority and deadline.

[2015-08-18 01:10] m3thun commented on #580
@riz-hossain  Who should this bug be assigned to? Please also set the priority and deadline.

[2015-08-18 01:11] m3thun commented on #581
@riz-hossain  Who should this bug be assigned to? Please also set the priority and deadline.

[2015-08-18 01:11] m3thun commented on #582
@riz-hossain Who should this bug be assigned to? Please also set the priority and deadline.

[2015-08-18 01:13] m3thun commented on #555
@riz-hossain This ticket is missing the required labels (Assignee, Category, Priority label)

[2015-08-18 01:15] m3thun commented on #556
@riz-hossain Is this a Feature Request? Please assign relevant label. Thanks!

[2015-08-18 01:16] m3thun commented on #543
@riz-hossain Minar has tagged it as "Done". Please verify and close the ticket.

[2015-08-18 01:17] riz-hossain commented on #582
minarMedium priority We will need to compile all the issues categorize them and then put them in milestone planning.  

[2015-08-18 01:19] riz-hossain commented on #556
This was requirement.  Feature request is something that product manager didn't plan during the initial product design.  Feature requests are usually lower importance than requirement unless otherwise from market feedback/research we find that it needs to addressed asap. 

[2015-08-18 01:21] riz-hossain commented on #581
All tasks and bugs related to  req, task, bugs, milestone, goes to Minar.  High priority Deadline will be organize via milestone.  

[2015-08-18 01:23] riz-hossain commented on #555
This is a low priority.Keep this under Minar. Usually he is responsible for all types of ui designs and changes. 

[2015-08-18 01:23] adeelrehman007 opened #583 "Test Case/Steps not saved when new Test Case created"
- No Test Cases & Steps in project history
- Go to Testing->Test Cases->Create/Edit
- Create following 4 steps: Open Browser, Go To A Weblink, Sleep, Close Browser
- Save Test Case

Observed Behavior:
- Test Case not saved
- Not ALL Test Steps saved over multiple attempts

[2015-08-18 01:24] riz-hossain commented on #580
MinarMedium priority Deadline will be set by milestone                                                                                                                                                                                                                                                                                                                                         Sent from my Blac

[2015-08-18 01:25] adeelrehman007 commented on #583
Type field not populated for all test steps (defined from Test Case Create) automatically

[2015-08-18 02:02] matariq opened #584 "Test Step picking up driver that is not linked to a project"
Create New Project without any driver

Create Following test steps,

Go To A Weblink
Open Browser

![image](https://cloud.githubusercontent.com/assets/13080536/9320747/7e6c3d44-452b-11e5-9bfd-3c469fbffb76.png)

'Webdriver' has never been linked with this project

[2015-08-18 03:18] m3thun opened #585 "Creating Test Cases"
@matariq As per out meeting on Aug 16th, You were requested to create 20-30 manual test cases. We need an update from you about how many you have automated or are going automate and when. Please give us an update.

[2015-08-18 03:38] matariq commented on #585
Tarique is working on this.

He had manual Test cases he sent out.

Can you assign to him?
On Aug 17, 2015 11:19 PM, "mithun" <notifications@github.com> wrote:

[2015-08-18 04:44] m3thun commented on #583
@riz-hossain Please label category, assignee and priority.

To my understanding, the label should be "bug", should be assigned to Shetu, and Priority is Priority 2 (High).

[2015-08-18 04:46] m3thun commented on #580
@riz-hossain I'd need more information on creating an managing milestones. Insha'Allah will have an one-to-one meeting at a later time.

[2015-08-18 04:52] m3thun commented on #585
@matariq Sorry I mixed up. It was meant for Tarique. Fixing this.

[2015-08-18 04:56] m3thun commented on #584
@riz-hossain 3 labels (Category, Assignee, Priority) please.

If the category, assignee or priority level is obvious, should I label them? Or should ask you every time a ticket is created?

[2015-08-18 05:00] riz-hossain commented on #584
We are supposed to do it together.  for now you can assign. But when we do milestone planning, we will review all of them one by one. That will take few days. So let's focus on that later. For now if it very clear log it. This one for example should have been resolved and done. 

[2015-08-18 05:07] riz-hossain commented on #583
If it's a manual test case created on the fly, then it's Minar. I can't see who logged it from email... can you get the bug creator to clarify if this is a new steps they are creating on the fly..Has this step been created first from step create page... need more detail to understand the issue

[2015-08-18 05:59] m3thun commented on #583
@riz-hossain This ticket was created by Adeel.
@adeelrehman007 Can you please elaborate it a bit more? Thanks!

[2015-08-18 12:35] matariq commented on #583
This only happens in the case if no driver is selected
On Aug 18, 2015 1:59 AM, "mithun" <notifications@github.com> wrote:

[2015-08-18 12:40] riz-hossain commented on #583
You shouldn't be able to create any test step if driver is not selected....Is this step being created on the fly from creating a new test case or manually going into step create page?

[2015-08-18 12:51] matariq commented on #584
This one was just found yesterday - it cannot be resolved and done

[2015-08-18 12:52] adeelrehman007 commented on #583
This happens when step is created on the fly. The Manual driver isn't added
by default

On Tue, Aug 18, 2015 at 8:41 AM Riz Hossain <notifications@github.com>
wrote:

[2015-08-18 13:03] riz-hossain commented on #583
I believe Minar has fixed it and it wasn't pull.  When you create a new team, we were supposed to automatically create a driver called "manual". If you can try to create a new team and as long as we create a manual driver automatically, it will solve this issue.  @minar please confirm if it was implemented @Mithun please assign to Minar with low priority There are few other defaults item that need

[2015-08-18 13:04] matariq opened #586 ""Test Step 'Open Browser' deleted successfully" Notification shown but Test Step not deleted"
Create 2 teams

. Switch To Project 1 -> Create Test Steps
. Switch To Project 2 -> Go Under Test Steps -> View Test Steps -> Delete Test Step Created in Step 1
. "Test Step 'Open Browser' deleted successfully" Notification shown but Test Step not deleted

[2015-08-18 13:07] riz-hossain commented on #584
@Mithun, don't close this out yet. Put it has feature request and not as bug This can be addressed if we force users to create a project and team folders under driver. It will create some extra work for the person who is creating the driver files for the very first time, but would solve the issue of having duplicate driver file name.  If in a company it is deployed, likely hood of having duplicate

[2015-08-18 13:15] riz-hossain commented on #586
You are not supposed to be able to delete a step if it is being used by any test cases. If you hit get test cases or under search step do you see any steps count more than 0?If it has more than 0 test cases as count, you should get notification that you cannot delete. If step's test count is 0 then this is most likely because of collision of duplicate step name from another proejct.  Try to create

[2015-08-18 13:21] adeelrehman007 commented on #583
Riz, in my (humble) opinion, there's no point carrying legacy issues
especially if we have a fix for it. This should be set to high priority so
it's taken care of immediately (shouldn't take much time since it's fixed).
Issue like this will come to the spotlight of any user
On Tue, Aug 18, 2015 at 9:03 AM Riz Hossain <notifications@github.com>
wrote:

[2015-08-18 13:39] riz-hossain commented on #583
I agree with your that it needs to fixed. I am actually not sure if it has been fixed. I know I talked with Minar but not sure if it was done.   We didn't have any help document at that time. The reason it was set to lower priority now is because this supposed to be addressed by our help guide where user will need to follow step1.. stepN before they can start working with the tool.  If they follow

[2015-08-19 00:29] matariq opened #587 "Testing -> Test Case -> Dependency - Can set multiple default dependecy"
Testing -> Test Case -> Create & Assign Dependency to project

. Add multiple names under dependency
OS - Linux, MAC, Windows

. Can set Linux, MAC & Windows as default dependency by clicking on red button.
. Should be able to select only one default dependency

[2015-08-19 00:30] matariq commented on #587
Not a bug - Closing

[2015-08-19 00:30] #587 closed

[2015-08-19 02:17] adeelrehman007 opened #589 "Dashboard - Owned Requirements - Showing incorrect "Owned Requirements""
Created new Project & User
View dashboard on first login
Requirements 175 should be 0

![image](https://cloud.githubusercontent.com/assets/13548066/9347380/dcf64488-45f6-11e5-8604-02a7c2ee68ac.png)

[2015-08-19 02:25] adeelrehman007 opened #590 "Cannot delete Branch version #"
Cannot delete Beta

![image](https://cloud.githubusercontent.com/assets/13548066/9347472/ed505228-45f7-11e5-94fc-48a9a9b471ab.png)

[2015-08-19 02:28] adeelrehman007 opened #591 "Cannot create Task"
Not giving any feedback or getting saved

[2015-08-19 02:30] adeelrehman007 opened #592 "Create Requirement -> Setting owner UI loses allignment"
![image](https://cloud.githubusercontent.com/assets/13548066/9347519/ad654712-45f8-11e5-951f-b6a085c59358.png)

[2015-08-19 02:32] adeelrehman007 opened #593 "Editing Milestone showing undefined suggestions"
![image](https://cloud.githubusercontent.com/assets/13548066/9347542/fe82bbfc-45f8-11e5-9189-55fff4cbf3b3.png)

[2015-08-19 03:00] m3thun commented on #589
@riz-hossain I'm labeling this to be a bug. Please label assignee and priority. I understand that the UI related matters are for Minar, but this should be for Shetu, am I right?

[2015-08-19 03:01] m3thun commented on #590
@riz-hossain Please label assignee and set priority.

[2015-08-19 03:02] m3thun commented on #591
@riz-hossain Assignee and Priority please!

[2015-08-19 03:04] m3thun commented on #592
@riz-hossain Please review the 3 labels and assignee. Did I do it right?

[2015-08-19 03:05] m3thun commented on #593
@riz-hossain Priority and Assignee pls!

[2015-08-19 03:26] adeelrehman007 commented on #589
Not an issue. Closing.

[2015-08-19 03:26] #589 closed

[2015-08-19 03:28] adeelrehman007 commented on #591
Not an issue. Closing. db was out of date.

[2015-08-19 03:28] #591 closed

[2015-08-19 03:29] adeelrehman007 commented on #593
Not an issue. Closing. db was out of date.

[2015-08-19 03:29] #593 closed

[2015-08-19 03:35] adeelrehman007 opened #594 "Cannot create Milestone with same name in another project"

[2015-08-19 03:55] adeelrehman007 opened #595 "Test Step should have default Est Time"
Default value should be 30 seconds.

Issue only when creating test step on fly

[2015-08-19 04:00] m3thun commented on #594
@riz-hossain Assignee and Priority pls!

[2015-08-19 04:01] adeelrehman007 commented on #583
After DB update - issue still exists

Steps to reproduce:

Create Test Steps on the fly while creating new test case
Test Steps with name from drivers (example Open Browser/Close Browser) are not saved although the driver is not linked/defined with the project.

[2015-08-19 04:10] adeelrehman007 opened #596 "Automated Test Step shows up as "Manual-undefined" in summary view"
Test steps have all been defined as automated. The detail Steps view shows each step as automated.

![image](https://cloud.githubusercontent.com/assets/13548066/9348545/9e23a38a-4606-11e5-8c19-ab6bb074997d.png)

[2015-08-19 04:26] riz-hossain commented on #596
That's a odd one... This should go to Minar.... I think what's happening here is that in this display it doesn't have filter based on team and project for step type. So it's probably looking at other projects step name that has same title.  ‎It should be a medium priority if it's only display bug. If it's impacting functionality it will be critical.  

[2015-08-19 04:26] m3thun commented on #15
@riz-hossain I'm commenting on this because this is the "Oldest Open Ticket" dated back almost 2 years. We need to close the ones that are irrelevant or solved (but not closed). Need to do some maintenance and cleanup. What u say?

[2015-08-19 04:28] m3thun commented on #595
@riz-hossain labels pls!

[2015-08-19 04:28] riz-hossain commented on #15
Actually this was finally completed about 2-3 months ago. So you can actually mark it as done and closed. But we need to seat together and go one by one. It's best that way.  

[2015-08-19 04:29] riz-hossain commented on #595
This is done Put it under Minar name and close it.                                                                                                                                                                                                                                                                                                                                          Sent from my BlackBe

[2015-08-19 04:30] m3thun commented on #579
@riz-hossain Please put labels this ticket.

[2015-08-19 04:31] m3thun commented on #575
@riz-hossain labels please!

[2015-08-19 04:31] riz-hossain commented on #595
Actually I thought this was really old.  Default value can be changed from going into test step itself.

[2015-08-19 04:32] m3thun commented on #431
@riz-hossain A highest priority bug that is 6 months old? Please check and update the labels, if needed.

[2015-08-19 04:32] riz-hossain commented on #575
Minar.. No priority yet. These are incomplete requirements so it's not a bug yet...

[2015-08-19 04:34] riz-hossain commented on #579
I didn't run into this issue while changing projects... Need more detail on this ticket...

[2015-08-19 04:35] m3thun commented on #53
@riz-hossain Ok so this the oldest "Highest Priority" Ticket. You closed this ticket as duplicate. But Minar reopened it on Jan 24th. Why?

[2015-08-19 04:36] matariq commented on #579
Closing do not see after updating db

[2015-08-19 04:36] #579 closed

[2015-08-19 04:36] riz-hossain commented on #431
This is actually a feature request and that's why it is getting pushed down.  Currently you cannot remove any Objective.. Once it's entered it's there forever. That's why it got high priority.  Also there is no way to manage Objective. This goes to Minar

[2015-08-19 04:39] riz-hossain commented on #53
We went back and forth with the design on this to really optimize a lot of things.   This is on of the core part of the framework. :)This one is done and can be closed. 

[2015-08-19 04:40] riz-hossain commented on #589
I like seeing these ones where you guys open and close right away :)                                                                                                                                                                                                                                                                                                                                        Sent

[2015-08-19 04:41] #53 closed

[2015-08-19 04:42] #15 closed

[2015-08-19 05:10] adeelrehman007 commented on #595
This shouldn't be closed. The issue isn't the default value of the step.
It's the fact that when the test step is written on the fly, the est time
field isn't populated automatically as it is when a pre-defined test step
is added.

Please re-open ticket
On Wed, Aug 19, 2015 at 12:39 AM mithun <notifications@github.com> wrote:

[2015-08-19 12:55] m3thun commented on #595
@riz-hossain Please reply to the comment made by Adeel.

[2015-08-19 12:56] m3thun commented on #595
For now, I re-opened it and removing the label "Done".

[2015-08-19 13:46] riz-hossain commented on #595
To clarify, As soon as you hit + to add a new step, before you start typing any names for any steps, user will be prefilled with some time.   We can fill up the descriptions and expected as well with N/A... this way it will help manual testers just write the new steps and nothing else. This was a request that came from few others. This will be a low priority and fr and will be assigned to Minar.  

[2015-08-19 13:50] adeelrehman007 commented on #595
Correct. Either the field can be prefilled 'before' the user types any step
name OR once it realizes that the test step is being created on the fly
(i.e. is not a already a saved step)

On Wed, Aug 19, 2015 at 9:46 AM, Riz Hossain <notifications@github.com>
wrote:

[2015-08-21 05:56] riz-hossain opened #597 "admin page doesnt need any password!!"
http://demo.automationsolutionz.com/Home/superAdmin/

i thought this was fixed!

@minar09 not sure if you can look into it as well... but this is critical issue...
@m3thun  this is critical but we will hold off this one until test case bugs are solved....

[2015-08-21 19:58] m3thun commented on #597
@riz-hossain Noted!

[2015-08-21 20:01] m3thun commented on #594
@riz-hossain You still haven't provided me with Priority level and Assignee info yet!

[2015-08-21 20:02] m3thun commented on #590
@riz-hossain Please let me know who should this be assigned to and also the priority level of this one. Thanks!

[2015-08-21 20:05] riz-hossain commented on #594
@adeelrehman007 Can you please add what was observed when you tried to create a duplicate one?

[2015-08-21 20:08] riz-hossain commented on #590
@Taitalus  we should also add usage to it

[2015-08-21 20:15] matariq commented on #594
There was no feedback response or any error msg
On Aug 21, 2015 4:05 PM, "Riz Hossain" <notifications@github.com> wrote:

[2015-08-22 06:37] matariq opened #598 "Clustered info in tests/tasks/reqs on dashboard"
Right now info in columns for test/task/req is too clustered.

Screenshot is from laptop screen - is there a plan to present all this information so it is readable?

![screen shot 2015-08-22 at 2 27 50 am](https://cloud.githubusercontent.com/assets/13080536/9422864/a29b2eda-4875-11e5-954f-516c1d7af8f7.png)

[2015-08-22 06:42] matariq opened #599 "Page after login"
Login as userA
Go to Milestone
Login as userB
We should be brought back to either dashboard page or or whichever page userB logged out off instead we are brought to Milestone page.

[2015-08-22 16:37] matariq opened #600 "Task -> Search -> Alignment of description & Assigned user is not correct"
Minor ui change

should be just like milestone

![image](https://cloud.githubusercontent.com/assets/13080536/9424873/707e2718-48ca-11e5-916a-c496bb25c39f.png)

[2015-08-22 16:43] matariq opened #601 "Req/Task/Bug -> Search -> List Columns width need to be adjusted"
Minor UI change

1. Gap between REQ-ID & Title can be reduced
2. Title & Description should have more column space
3. Space between starting & due date can be reduced

Leads to better UI display

![image](https://cloud.githubusercontent.com/assets/13080536/9424888/1b6633b4-48cb-11e5-84ab-cc1c2bafece1.png)

[2015-08-22 16:57] matariq opened #602 "Edit Milestone with linked tasks/req/bug/testing"
Minor UI change needed to make sure all of the above have same ui display as task

![image](https://cloud.githubusercontent.com/assets/13080536/9424937/2d9a90c8-48cd-11e5-8f93-5f1bce9a3492.png)

![image](https://cloud.githubusercontent.com/assets/13080536/9424938/32fa0486-48cd-11e5-9e26-834f4de0de93.png)

![image](https://cloud.githubusercontent.com/assets/13080536/9424940/38b2e8f2-48cd-11e5-9cbc-

[2015-08-23 11:36] m3thun commented on #598
@riz-hossain Assigning this to @minar09 and setting it as a low priority issue.

[2015-08-23 11:39] m3thun commented on #602
@riz-hossain Should I create a label named "UI" which will categorize this kind of ticket?

[2015-08-23 11:40] m3thun commented on #599
@riz-hossain Please add respective labels

[2015-08-23 12:28] riz-hossain commented on #598
Thanks. That sounds good to me.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone on

[2015-08-23 12:32] riz-hossain commented on #602
Yes please.Any type of simple ui bugs that are considered cosmetic... alignment issues or button replacement.. can be sorted better with ui tag 

[2015-08-23 13:39] m3thun commented on #602
@riz-hossain How do you create a label? I couldn't find the option. Is this an admin privilege?

[2015-08-23 15:03] minar09 commented on #602
https://github.com/AutomationSolutionz/Framework_0.1/labels

On Sun, Aug 23, 2015 at 7:39 PM, mithun <notifications@github.com> wrote:

[2015-08-23 16:39] riz-hossain opened #603 "server setup pre-req"
this is a git ticket to keep track of all the modules that we need to install to make sure server setup works smoothly

-----
for git to work:
you need to install git application (Command line for windows and sudo apt-get install git for linux)
and pythongit

[2015-08-23 23:07] m3thun commented on #572
@minar09 When you label a ticket "Done", please remove the label "Started". They both should not be present at the same time.
@riz-hossain Did you pull yet? Please give me the update.

[2015-08-24 00:04] riz-hossain commented on #572
I fixed the auto pulling from the server and it's working now. Thanks for the fix. 

[2015-08-24 00:27] m3thun commented on #572
@riz-hossain Closing it.

[2015-08-24 00:27] #572 closed

[2015-08-25 00:35] adeelrehman007 opened #604 "No notification if sub-feature isn't added when creating Test Step"
Steps to reproduce:
- Testing->Test Case->Steps->Create/Edit
- Set all fields except sub-feature
- Click Submit

Test step is saved. No notification for missing field. Feature field is set as green (even thou sub feature is missing). View of test step is as follows:

![image](https://cloud.githubusercontent.com/assets/13548066/9455988/9d65d7ea-4a9f-11e5-99b5-3552d1df3d3c.png)

[2015-08-25 00:45] adeelrehman007 opened #605 "Following error received when renaming folder: "Same Folder name exists""
- Testing->Test Case->Folder View
- Click on New Folder, name Folder 'Files Seciton' and click OK
- Right click on folder and click Rename Folder
- Change name to 'Files Section' and click OK

Error received as shown in screenshot below. Issue always seems to occur when the folder name has two words and the first word isn't changed during renaming.

![image](https://cloud.githubusercontent.com/ass

[2015-08-25 02:06] matariq opened #606 "Help - Should be able to Delete Help File"

[2015-08-26 00:54] m3thun commented on #605
@riz-hossain copied to the new private repo.. closing here

[2015-08-26 00:54] #605 closed

[2015-08-26 01:02] m3thun commented on #606
@riz-hossain Copied to the new repo. Closing here.

[2015-08-26 01:02] #606 closed

[2015-08-26 01:06] m3thun commented on #597
@riz-hossain As discussed over the phone, closing this issue. In fact, I'll delete it, so it doesn't stay even as a closed ticket.

[2015-08-26 01:06] #597 closed

[2015-08-26 01:08] m3thun commented on #597
@riz-hossain so i guess u cant really delete a ticket, can u?

[2015-08-26 01:15] m3thun commented on #594
@riz-hossain copied and closing!

[2015-08-26 01:15] #594 closed

[2015-08-26 01:16] riz-hossain commented on #597
I will be deleting the entire project ‎for various reasons.  As soon as we have moved over and all tickets are transferred

[2015-08-26 01:17] m3thun commented on #590
@riz-hossain copied and closing!

[2015-08-26 01:17] #590 closed

[2015-08-26 01:20] m3thun commented on #571
@riz-hossain copied and closing!

[2015-08-26 01:20] #571 closed

[2015-08-26 01:21] m3thun commented on #567
@riz-hossain Please verify the fix and close this ticket. Otherwise I'll have to copy it over to the new repo. Thanks!

[2015-08-26 01:27] m3thun commented on #561
@riz-hossain copied and closing!

[2015-08-26 01:27] #561 closed

[2015-08-26 01:30] m3thun commented on #552
@riz-hossain copied and closing!

[2015-08-26 01:30] #552 closed

[2015-08-26 01:33] m3thun commented on #543
@riz-hossain Please confirm if it's DONE.

[2015-08-26 01:42] riz-hossain commented on #543
Please assign it to Tarrique for verification...                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 

[2015-08-26 01:43] riz-hossain commented on #567
@Mithun please assign it to Tarrique                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartpho

[2015-08-26 01:44] matariq commented on #543
This seems to be working fine.

Works on a new project just created
On Aug 25, 2015 9:42 PM, "Riz Hossain" <notifications@github.com> wrote:

[2015-08-26 01:47] riz-hossain commented on #543
So when a new project and team is created, and you go to create a new test case and create a manual step on the fly from the test case create page, it automatically assisgns manual as the driver.. right?

[2015-08-26 01:59] #520 closed

[2015-08-26 03:41] m3thun commented on #517
@riz-hossain copied and closing!

[2015-08-26 03:41] #517 closed

[2015-08-26 03:43] m3thun commented on #524
@riz-hossain copied and closing!

[2015-08-26 03:43] #524 closed

[2015-08-26 03:45] m3thun commented on #567
@riz-hossain copied and closing!

[2015-08-26 03:45] #567 closed

[2015-08-26 03:48] #560 closed

[2015-08-26 03:49] m3thun commented on #560
spelling has been fixed

[2015-08-26 03:51] m3thun commented on #547
@riz-hossain copied and closing!

[2015-08-26 03:53] m3thun commented on #543
@riz-hossain copied and closing!

[2015-08-26 03:53] #543 closed

[2015-08-26 03:55] m3thun commented on #508
@riz-hossain Tarique verified it, so closing it.

[2015-08-26 03:55] #508 closed

[2015-08-26 03:56] m3thun commented on #494
@riz-hossain copied and closing!

[2015-08-26 03:56] #494 closed

[2015-08-26 03:58] m3thun commented on #493
@riz-hossain Please take a look at this one and tell me what to do with it.

[2015-08-26 04:00] m3thun commented on #491
@riz-hossain what priority level is this? also it's a feature request, so should i include in the milestone?

[2015-08-26 04:08] m3thun commented on #383
@riz-hossain it is difficult to copy ticket like this over to the new repo since lots of updates are in the comments.. what should i do.. would tarique know just by looking at the ticket title?

[2015-08-26 04:09] m3thun commented on #385
@riz-hossain copied and closing!

[2015-08-26 04:09] #385 closed

[2015-08-26 04:10] m3thun commented on #413
@riz-hossain copied and closing!

[2015-08-26 04:10] #413 closed

[2015-08-26 04:13] m3thun commented on #217
@riz-hossain copied and closing!

[2015-08-26 04:13] #217 closed

[2015-08-26 04:15] m3thun commented on #271
@riz-hossain copied and closing!

[2015-08-26 04:15] #271 closed

[2015-08-26 04:17] m3thun commented on #339
@riz-hossain copied and closing!

[2015-08-26 04:17] #339 closed

[2015-08-26 04:18] m3thun commented on #346
@riz-hossain copied and closing!

[2015-08-26 04:18] #346 closed

[2015-08-26 14:10] matariq commented on #511
@adeelrehman007 you are still not getting emails from framework correct?

Can you add the details to this bug?

[2015-08-26 14:20] adeelrehman007 commented on #511
I'm not getting emails to either my hotmail account or gmail. Wondering if
it's the issue is due to any special characters.

Hotmail address has an underscore in it (adeel_rehi@hotmail.com) whereas
the gmail one has three dots (m.adeel.r.mian@gmail.com)

Beyond this I don't have much to add on this.
On Wed, Aug 26, 2015 at 10:10 AM matariq <notifications@github.com> wrote:

[2015-08-26 15:36] riz-hossain commented on #511
On the new server email service was not started (most likely)                                                                                                                                                                                                                                                                                                                                        Sent from m

[2015-08-26 15:38] matariq commented on #511
I was getting emails.

This has been an old issue.
On Aug 26, 2015 11:36 AM, "Riz Hossain" <notifications@github.com> wrote:

[2015-08-27 23:48] m3thun commented on #539
@riz-hossain copied and closing!

[2015-08-27 23:48] #539 closed

[2015-08-27 23:50] m3thun commented on #538
@riz-hossain copied and closing!

[2015-08-27 23:50] #538 closed

[2015-08-27 23:51] m3thun commented on #521
@riz-hossain copied and closing!

[2015-08-27 23:53] m3thun commented on #514
@riz-hossain copied and closing!

[2015-08-27 23:53] #514 closed

[2015-08-27 23:53] #521 closed

[2015-08-27 23:54] m3thun commented on #504
@riz-hossain copied and closing!

[2015-08-27 23:54] #504 closed

[2015-08-27 23:58] m3thun commented on #485
@riz-hossain copied and closing!

[2015-08-27 23:58] #485 closed

[2015-08-27 23:59] m3thun commented on #483
@riz-hossain copied and closing!

[2015-08-27 23:59] #483 closed

[2015-08-28 00:00] m3thun commented on #473
@riz-hossain copied and closing!

[2015-08-28 00:00] #473 closed

[2015-08-28 00:01] m3thun commented on #472
@riz-hossain copied and closing!

[2015-08-28 00:01] #472 closed

[2015-08-28 00:03] m3thun commented on #469
@riz-hossain This is a duplicate ticket. Same ticket exists in the new private repo. So closing this one without copying!

[2015-08-28 00:03] #469 closed

[2015-08-28 00:04] m3thun commented on #461
@riz-hossain copied and closing!

[2015-08-28 00:04] #461 closed

[2015-08-28 00:05] m3thun commented on #444
@riz-hossain copied and closing!

[2015-08-28 00:05] #444 closed

[2015-08-28 00:06] m3thun commented on #445
@riz-hossain Before I copied this over, can you please explain what the label "Release Gating" means? Thanks!

[2015-08-28 00:08] m3thun commented on #431
@riz-hossain copied and closing!

[2015-08-28 00:08] #431 closed

[2015-08-28 00:09] m3thun commented on #424
@riz-hossain copied and closing

[2015-08-28 00:09] #424 closed

[2015-08-28 00:10] m3thun commented on #422
@riz-hossain copied and closing

[2015-08-28 00:10] #422 closed

[2015-08-28 00:11] m3thun commented on #421
@riz-hossain copied and closing!

[2015-08-28 00:11] #421 closed

[2015-08-28 00:12] m3thun commented on #412
@riz-hossain copied and closing!

[2015-08-28 00:12] #412 closed

[2015-08-28 00:14] m3thun commented on #406
@riz-hossain copied and closing!

[2015-08-28 00:14] #406 closed

[2015-08-28 00:15] m3thun commented on #405
@riz-hossain copied and closing!

[2015-08-28 00:15] #405 closed

[2015-08-28 00:19] m3thun commented on #402
@riz-hossain copied and closing!

[2015-08-28 00:19] #402 closed

[2015-08-28 00:20] m3thun commented on #397
@riz-hossain copied and closing!

[2015-08-28 00:20] #397 closed

[2015-08-28 00:22] m3thun commented on #352
@riz-hossain copied and closing!

[2015-08-28 00:22] #352 closed

[2015-08-28 00:55] m3thun commented on #396
@riz-hossain copied and closing!

[2015-08-28 00:55] #396 closed

[2015-08-28 00:56] m3thun commented on #372
@riz-hossain copied and closing!

[2015-08-28 00:56] #372 closed

[2015-08-28 00:58] m3thun commented on #369
@riz-hossain copied and closing!

[2015-08-28 00:58] #369 closed

[2015-08-28 01:00] m3thun commented on #348
@riz-hossain copied and closing!

[2015-08-28 01:00] #348 closed

[2015-08-28 01:02] m3thun commented on #350
@riz-hossain Copied and Closing!

[2015-08-28 01:02] #350 closed

[2015-08-28 03:58] #511 closed

[2015-08-28 22:35] m3thun commented on #102
@riz-hossain copied and closing!

[2015-08-28 22:35] #102 closed

[2015-08-28 22:36] m3thun commented on #117
@riz-hossain copied and closing!

[2015-08-28 22:36] #117 closed

[2015-08-28 22:37] m3thun commented on #214
@riz-hossain copied and closing!

[2015-08-28 22:37] #214 closed

[2015-08-28 22:38] m3thun commented on #221
@riz-hossain copied and closing!

[2015-08-28 22:38] #221 closed

[2015-08-28 22:43] m3thun commented on #261
@riz-hossain copied and closing!

[2015-08-28 22:43] #261 closed

[2015-08-28 22:44] m3thun commented on #298
@riz-hossain copied and closing!

[2015-08-28 22:44] #298 closed

[2015-08-28 22:46] m3thun commented on #315
@riz-hossain copied and closing!

[2015-08-28 22:46] #315 closed

[2015-08-28 22:48] m3thun commented on #318
@riz-hossain copied and closing!

[2015-08-28 22:48] #318 closed

[2015-08-28 22:49] m3thun commented on #319
@riz-hossain copied and closing!

[2015-08-28 22:49] #319 closed

[2015-08-28 22:50] m3thun commented on #303
@riz-hossain copied and closing!

[2015-08-28 22:50] #303 closed

[2015-08-28 22:51] m3thun commented on #320
@riz-hossain copied and closing!

[2015-08-28 22:51] #320 closed

[2015-08-28 22:52] m3thun commented on #321
@riz-hossain copied and closing!

[2015-08-28 22:52] #321 closed

[2015-08-28 22:53] m3thun commented on #340
@riz-hossain copied and closing!

[2015-08-28 22:53] #340 closed

[2015-08-28 22:55] m3thun commented on #341
@riz-hossain copied and closing!

[2015-08-28 22:55] #341 closed

[2015-08-28 22:55] m3thun commented on #361
@riz-hossain copied and closing!

[2015-08-28 22:55] #361 closed

[2015-08-28 22:57] m3thun commented on #368
@riz-hossain copied and closing!

[2015-08-28 22:57] #368 closed

[2015-08-28 22:58] m3thun commented on #370
@riz-hossain copied and closing!

[2015-08-28 22:58] #370 closed

[2015-08-28 22:59] m3thun commented on #383
@riz-hossain copied and closing!

[2015-08-28 22:59] #383 closed

[2015-08-28 23:00] m3thun commented on #387
@riz-hossain copied and done!

[2015-08-28 23:00] #387 closed

[2015-08-28 23:01] m3thun commented on #445
@riz-hossain Copied and Closing!

[2015-08-28 23:01] #445 closed

[2015-08-29 01:15] riz-hossain commented on #383
Yes. Issues like that should be tested right there in the old repo. This can be closed regardless.

[2015-08-29 01:25] riz-hossain commented on #445
If it's release gating, that means without fixing this bug we can never release the product. It's similar to critical... but critical issue can be decided to descope... meaning, we can still remove the feature all together and release the product...Release gating would mean we cannot remove the feature to avoid the bug.  

[2015-08-30 01:10] m3thun commented on #603
@riz-hossain Copied and Closing!

[2015-08-30 01:10] #603 closed

[2015-08-30 01:11] m3thun commented on #574
@riz-hossain copied and closing!

[2015-08-30 01:11] #574 closed

[2015-08-30 01:12] m3thun commented on #573
@riz-hossain copied and closing!

[2015-08-30 01:12] #573 closed

[2015-08-30 01:13] m3thun commented on #570
@riz-hossain copied and closing!

[2015-08-30 01:13] #570 closed

[2015-08-30 01:13] m3thun commented on #551
@riz-hossain copied and closing!

[2015-08-30 01:13] #551 closed

[2015-08-30 01:14] m3thun commented on #550
@riz-hossain copied and closing!

[2015-08-30 01:14] #550 closed

[2015-08-30 01:15] #547 closed

[2015-08-30 01:16] m3thun commented on #542
@riz-hossain copied and closing!

[2015-08-30 01:16] #542 closed

[2015-08-30 01:17] m3thun commented on #540
@riz-hossain copied and closing!

[2015-08-30 01:17] #540 closed

[2015-08-30 01:19] m3thun commented on #535
@riz-hossain copied and closing!

[2015-08-30 01:19] #535 closed

[2015-08-30 01:20] m3thun commented on #534
@riz-hossain copied and closing!

[2015-08-30 01:20] #534 closed

[2015-08-30 01:21] m3thun commented on #532
@riz-hossain copied and closing!

[2015-08-30 01:21] #532 closed

[2015-08-30 01:22] m3thun commented on #531
@riz-hossain copied and closing!

[2015-08-30 01:22] #531 closed

[2015-08-30 01:23] m3thun commented on #529
@riz-hossain copied and closing!

[2015-08-30 01:23] #529 closed

[2015-08-30 01:23] m3thun commented on #523
@riz-hossain copied and closing!

[2015-08-30 01:23] #523 closed

[2015-08-30 01:24] m3thun commented on #519
@riz-hossain copied and closing!

[2015-08-30 01:24] #519 closed

[2015-08-30 01:25] m3thun commented on #497
@riz-hossain copied and closing!

[2015-08-30 01:25] #497 closed

[2015-08-30 01:26] m3thun commented on #496
@riz-hossain copied and closing!

[2015-08-30 01:26] #496 closed

[2015-08-30 01:27] m3thun commented on #486
@riz-hossain copied and closing!

[2015-08-30 01:27] #486 closed

[2015-08-30 01:28] m3thun commented on #459
@riz-hossain copied and closing!

[2015-08-30 01:28] #459 closed

[2015-08-30 01:29] m3thun commented on #456
@riz-hossain copied and closing!

[2015-08-30 01:29] #456 closed

[2015-08-30 01:30] m3thun commented on #455
@riz-hossain copied and closing!

[2015-08-30 01:30] #455 closed

[2015-08-30 01:32] m3thun commented on #452
@riz-hossain copied and closing!

[2015-08-30 01:32] #452 closed

[2015-08-30 01:33] m3thun commented on #443
@riz-hossain copied and closing!

[2015-08-30 01:33] #443 closed

[2015-08-30 01:34] m3thun commented on #442
@riz-hossain copied and closing!

[2015-08-30 01:34] #442 closed

[2015-08-30 01:35] m3thun commented on #438
@riz-hossain copied and closing!

[2015-08-30 01:35] #438 closed

[2015-08-30 21:35] m3thun commented on #418
@riz-hossain copied and closing!

[2015-08-30 21:35] #418 closed

[2015-08-30 21:36] m3thun commented on #410
@riz-hossain copied and closing!

[2015-08-30 21:36] #410 closed

[2015-08-30 21:37] m3thun commented on #407
@riz-hossain copied and closing!

[2015-08-30 21:37] #407 closed

[2015-08-30 21:44] m3thun commented on #403
@riz-hossain copied and closing!

[2015-08-30 21:44] #403 closed

[2015-08-30 21:45] m3thun commented on #392
@riz-hossain copied and closing!

[2015-08-30 21:45] #392 closed

[2015-08-30 21:46] m3thun commented on #377
@riz-hossain copied and closing!

[2015-08-30 21:46] #377 closed

[2015-08-30 21:47] m3thun commented on #376
@riz-hossain copied and closing!

[2015-08-30 21:47] #376 closed

[2015-08-30 21:50] m3thun commented on #374
@riz-hossain copied and closing!

[2015-08-30 21:50] #374 closed

[2015-08-30 21:51] m3thun commented on #373
@riz-hossain copied and closing!

[2015-08-30 21:51] #373 closed

[2015-08-30 21:52] m3thun commented on #362
@riz-hossain copied and closing!

[2015-08-30 21:52] #362 closed

[2015-08-30 21:53] m3thun commented on #358
@riz-hossain copied and closing!

[2015-08-30 21:53] #358 closed

[2015-08-30 21:57] m3thun commented on #355
@riz-hossain copied and closing!

[2015-08-30 21:57] #355 closed

[2015-08-30 21:58] m3thun commented on #347
@riz-hossain copied and closing!

[2015-08-30 21:58] #347 closed

[2015-08-30 22:00] m3thun commented on #345
@riz-hossain copied and closing!

[2015-08-30 22:00] #345 closed

[2015-08-30 22:01] m3thun commented on #342
@riz-hossain copied and closing!

[2015-08-30 22:01] #342 closed

[2015-08-30 22:02] m3thun commented on #338
@riz-hossain copied and closing!

[2015-08-30 22:02] #338 closed

[2015-08-30 22:03] m3thun commented on #337
@riz-hossain copied and closing!

[2015-08-30 22:03] #337 closed

[2015-08-30 22:04] m3thun commented on #334
@riz-hossain copied and closing!

[2015-08-30 22:04] #334 closed

[2015-08-30 22:06] m3thun commented on #332
@riz-hossain copied and closing!

[2015-08-30 22:06] #332 closed

[2015-08-30 22:08] m3thun commented on #317
@riz-hossain copied and closing!

[2015-08-30 22:08] #317 closed

[2015-08-30 22:09] m3thun commented on #299
@riz-hossain copied and closing!

[2015-08-30 22:09] #299 closed

[2015-08-30 22:10] m3thun commented on #286
@riz-hossain copied and closing!

[2015-08-30 22:10] #286 closed

[2015-08-30 22:13] m3thun commented on #268
@riz-hossain copied and closing!

[2015-08-30 22:13] #268 closed

[2015-08-30 22:14] m3thun commented on #260
@riz-hossain copied and closing!

[2015-08-30 22:14] #260 closed

[2015-08-30 22:16] m3thun commented on #257
@riz-hossain Copied and closing!

[2015-08-30 22:16] #257 closed

[2015-09-03 03:58] m3thun commented on #255
@riz-hossain copied, closing.

[2015-09-03 03:58] #255 closed

[2015-09-03 04:00] m3thun commented on #251
@riz-hossain copied, closing!

[2015-09-03 04:00] #251 closed

[2015-09-03 04:01] m3thun commented on #249
@riz-hossain copied and closing

[2015-09-03 04:01] #249 closed

[2015-09-03 04:03] m3thun commented on #244
@riz-hossain I'm closing this one without copying it because this ticket is almost a year and half old and substantial design changes have already been implemented.

[2015-09-03 04:03] #244 closed

[2015-09-03 04:04] m3thun commented on #240
@riz-hossain copied and closing

[2015-09-03 04:04] #240 closed

[2015-09-03 04:04] riz-hossain commented on #244
Yes. Feel free to close ticket if you don't think it's needed. I will simply verify them one more time

[2015-09-03 04:05] m3thun commented on #230
@riz-hossain copied, closing

[2015-09-03 04:05] #230 closed

[2015-09-03 04:07] m3thun commented on #227
@riz-hossain copied, closing

[2015-09-03 04:07] #227 closed

[2015-09-03 04:08] m3thun commented on #226
@riz-hossain copied, closing

[2015-09-03 04:08] #226 closed

[2015-09-03 04:09] m3thun commented on #212
@riz-hossain copied, closing

[2015-09-03 04:09] #212 closed

[2015-09-03 04:10] m3thun commented on #208
@riz-hossain copied, closing

[2015-09-03 04:10] #208 closed

[2015-09-03 04:11] m3thun commented on #206
@riz-hossain copied, closing

[2015-09-03 04:11] #206 closed

[2015-09-03 04:12] m3thun commented on #205
@riz-hossain copied, closing

[2015-09-03 04:12] #205 closed

[2015-09-03 04:14] m3thun commented on #250
@riz-hossain copied and closing

[2015-09-03 04:14] #250 closed

[2015-09-03 04:14] m3thun commented on #201
@riz-hossain copied, closing

[2015-09-03 04:14] #201 closed

[2015-09-03 04:15] m3thun commented on #196
@riz-hossain copied, closing

[2015-09-03 04:15] #196 closed

[2015-09-03 04:16] m3thun commented on #181
@riz-hossain copied, closing

[2015-09-03 04:16] #181 closed

[2015-09-03 04:17] m3thun commented on #165
@riz-hossain copied, closing

[2015-09-03 04:17] #165 closed

[2015-09-03 04:18] m3thun commented on #147
@riz-hossain copied, closing

[2015-09-03 04:18] #147 closed

[2015-09-03 04:19] m3thun commented on #143
@riz-hossain copied, closing

[2015-09-03 04:19] #143 closed

[2015-09-03 04:20] m3thun commented on #116
@riz-hossain copied, closing

[2015-09-03 04:20] #116 closed

[2015-09-03 04:21] m3thun commented on #101
@riz-hossain copied, closing

[2015-09-03 04:21] #101 closed

[2015-09-03 04:22] m3thun commented on #100
@riz-hossain copied, closing

[2015-09-03 04:22] #100 closed

[2015-09-03 04:23] m3thun commented on #87
@riz-hossain copied, closing

[2015-09-03 04:23] #87 closed

[2015-09-03 04:24] m3thun commented on #82
@riz-hossain copied, closing

[2015-09-03 04:24] #82 closed

[2015-09-03 04:25] m3thun commented on #64
@riz-hossain copied, closing

[2015-09-03 04:25] #64 closed

[2015-10-09 03:09] matariq opened #607 "Import Test Cases from excel sheet"
We should be able to import test cases from template excel sheet.

This is a key feature for any company to switch to our framework easily without having to write their test cases from scratch.

[2015-10-09 03:11] #607 closed